[2017-12-04 23:21] swissonid opened #1 "NoSuchMethodError"
When I try to use the plugin I got that error....do I make something wrong or is it the plugin??

`I/flutter (30012): ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
I/flutter (30012): The following NoSuchMethodError was thrown building MyApp(dirty):
I/flutter (30012): The getter '_locale' was called on null.
I/flutter (30012): Receiver: null
I/

[2017-12-05 04:33] long1eu commented on #1
Did you initialized the App with:
[code]

[2017-12-05 04:45] long1eu commented on #1
Try to hit the _Build String Resources_ button  and try again.

[2017-12-05 08:02] swissonid commented on #1
The "App" has right now only two files, [here you can see it](https://gist.github.com/swissonid/7ce5a7df0b5cd7df2cf6a0fff3a9ed02). I rebuild the whole project and the resource, just to get sure 😄

[2017-12-06 19:32] long1eu commented on #1
Hi! so i copy the exact code but I don't get the error.

[2017-12-14 19:40] long1eu commented on #1
Please reopen if you still have any questions.

[2018-01-06 13:06] andretietz commented on #1
I do have the same problem. Don't know how to solve it.

How I can reproduce it all the time:

* Create a new flutter project using Android Studio 3.0.1 with the flutter plugin and this one.

* Update the Demo as described in the docs:
[code]
* Make some use of the library:
[code]
Result:

![error](https://user-images.githubusercontent.com/2174386/34639955-ed57ce80-f2e9-11e7-9b9e-273d50062781.PNG)

[2018-01-06 13:07] long1eu commented on #1
Perfect, I'll take a look. Thanks

Pe 6 ian. 2018 15:06, "André Tietz" <notifications@github.com> a scris:

[2018-01-08 18:48] long1eu commented on #1
This is still on. I will inform you when it's fixed.

[2018-01-09 21:37] andretietz commented on #1
Cool, thanks

[2018-01-16 06:57] long1eu commented on #1
I've managed to fix the bug. Waiting on Intellij approval for the update.
[flutter_i18n.zip](https://github.com/long1eu/flutter_i18n/files/1633915/flutter_i18n.zip)

[2018-01-17 06:20] #1 closed, assigned to nobody

[2018-03-11 21:37] ghost opened #2 "Plugin Error: Flutter i18n threw an uncaught Throwable. Disable Plugin"
I installed the plugin, restarted Android Studio and immediately got the error.

Android Studio 3.0.1 on MacOS

[2018-03-12 07:02] deckerst commented on #2
Same here.

The stack trace:
[code]

[2018-03-24 10:14] janweinkauff opened #3 "Intention Description Dir URL is null: Extract the string resource; ExtractStringResourceDart [Plugin: FlutterI18n]"
IntelliJ IDEA 2017.3.5 (Community Edition)
Build #IC-173.4674.33, built on March 5, 2018
JRE: 1.8.0_152-release-1024-b15 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.12.6

Plugin Version: 0.0.4

I get the following exception everytime I start IntelliJ:

[code]

[2018-03-24 14:42] long1eu commented on #3
Thanks! I'll take a look

[2018-03-25 01:05] biklas7 commented on #1
I'm having the exact same problem on version 0.0.4 of the plugin.

It's in this line -> `s._lang = getLang(s._locale);`

Class 'en' has no instance getter '_locale'.
Receiver: Instance of 'en'
Tried calling: _locale

If I add the getter for locale like this `Locale get locale => _locale;` that error doesn't happen but another one pops up:

Class 'en' has no instance setter '_lang'.
Receiver: Insta

[2018-05-03 02:24] long1eu commented on #2
Can you try the new update? Please let me know if this error is still there.

[2018-05-03 02:24] long1eu commented on #3
Can you try the new update?

[2018-05-04 20:53] janweinkauff opened #4 "kotlin.KotlinNullPointerException"
IntelliJ IDEA 2018.1.2 (Community Edition)
Build #IC-181.4668.68, built on April 24, 2018
JRE: 1.8.0_152-release-1136-b29 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.13.4

Plugin Version: 0.0.5

I get the following exception everytime I start IntelliJ:

[code]

[2018-05-04 20:54] janweinkauff commented on #3
I tried it, the exception is gone. 🎉

But now I get a new one, see  #4.

[2018-05-06 05:06] long1eu commented on #3
Perfect I'll move on that.

[2018-05-06 05:06] #3 closed, assigned to nobody

[2018-05-24 17:29] #2 closed, assigned to nobody

[2018-05-29 07:55] sleonidy opened #5 "Constructor of he_IL class generated with const"
And it is breaking
[code]
where it called with const

[2018-05-29 08:03] long1eu commented on #5
[flutter_i18n.zip](https://github.com/long1eu/flutter_i18n/files/2047273/flutter_i18n.zip)
Thanks for pointing this out. I made the fix. You can use this version until is available in Intellij

[2018-05-29 17:10] sleonidy commented on #5
Thanks for the quick resolution

[2018-05-29 17:12] long1eu commented on #5
You're very welcome. Does it work for you?

[2018-05-30 07:04] sleonidy commented on #5
Yep.
You can close the issue.
Thanks again

[2018-05-30 08:20] #5 closed, assigned to nobody

[2018-06-25 20:37] vjrj commented on #1
I get this issue but using in `MaterialApp` of:

[code]

instead of
[code]

fixed for me.

[2018-08-07 18:39] reaperdtme opened #6 "Plugin stops generating?"
Not updating generated files anymore when changing the arb file. Any way to kick it off manually? Maybe an option under the Tools menu?

[2018-08-07 19:57] reaperdtme opened #7 "NullPointer at eu.long1.flutter.i18n.inspections.CreateStringInspector.checkFile(CreateStringInspector.kt:22)"
[code]

[2018-08-07 20:25] #6 closed, assigned to nobody

[2018-08-07 20:25] reaperdtme commented on #7
Would fix this myself, but I can't get the DevKit environments working.
If you switch to gradle... wouldn't be a problem :P

[2018-08-07 20:33] reaperdtme commented on #7
Went poof

[2018-08-07 20:33] #7 closed, assigned to nobody

[2018-08-20 06:28] g123k commented on #4
Hello,

With IntelliJ 2018.2, the plugin is crashing with the same error.
How can we help to fix the issue?

[2018-08-27 21:47] holyspidoo opened #9 "In the Usage Readme, delegates are missing?"
I was unable to get my app to run until I changed this:
`localizationsDelegates: [S.delegate],`

to this:
`localizationsDelegates: [S.delegate,GlobalMaterialLocalizations.delegate,GlobalWidgetsLocalizations.delegate],`

Otherwise I get null errors like
`The getter 'openAppDrawerTooltip' was called on null.`

Is this okay? And if so, maybe the usage readme should be updated? (Amazing plugin btw)

[2018-09-02 09:00] kosiara opened #10 "i18n error after IntelliJ 2018.2.2 CE Upgrade"
After upgrading IntelliJ to 2018.2.2 loading the project results in a crash.

IntelliJ IDEA 2018.2.2 (Community Edition)
Build #IC-182.4129.33, built on August 21, 2018
JRE: 1.8.0_152-release-1248-b8 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.13.6

[code]

[2018-09-03 13:45] arlindiDev opened #11 "Cannot escape dollar($) sign"
In the .arb file I added a string:
 `"test": "In my wallet I have \$10",`
In the i18n.dart file that gets generated to:
 `String test(String 10) => "In my wallet I have \$10";`
So it creates a parameter for the $ dollar sign but I actually want the $ sign to be part of my String. It is not escaping it.

[2018-09-04 22:05] jjerome00 opened #12 "How to write a test for flutter_i18n"
Is it possible to write tests when using this library?  I've tried a few different ways of building the test widget, but I always get the same error message.

strings_en.arb
[code]

i18n_test.dart
[code]

This results in:
[code]

[2018-09-07 20:41] juliocbcotta opened #13 "Key based get"
Hi, would it be possible to have something like  `S.get(key)` ? I would like to associate a list of settings keys with displayable strings.
Today I have to have a switch for each key, which it not very developer friendly.

[2018-09-12 06:50] long1eu commented on #13
hi!

Can you explain this a little more, maybe providing an example?

[2018-09-12 06:52] long1eu commented on #12
Good question. Didn't tried it myself. I'll take a look.

[2018-09-12 06:54] long1eu commented on #11
Good issue. I'll fix it.

[2018-09-12 06:55] long1eu commented on #9
Good point. I will.

[2018-09-12 23:30] juliocbcotta commented on #13
I have an enum class that I use to save some settings in my shared preferences.
Today I have to write a switch/case when I need to associate each enum value with a localised string.
It would be great if it was possible to pass the enum instance string and get an associated localised string.

Maybe some reflection based `get` method would do. I would pass the enum instance name and the lib return t

[2018-09-26 08:58] NMateu opened #14 "Support for resource attributes"
Hi,

it would be great if it was possible to properly parse files with nested JSON like is described here https://github.com/googlei18n/app-resource-bundle/wiki/ApplicationResourceBundleSpecification#resource-attributes

[2018-10-05 00:05] jjerome00 commented on #12
I figured it out.  For some reason I need to create a widget class to pass into the tester.  I added a working example below.

strings_en.arb:
[code]

i18n_test.dart
[code]

[2018-10-08 06:44] falll2000 opened #15 "How to change language promatically"
I use this plug-in can change language when app start-up.

But if I want to change language programmatically, who to do so.

ex: change language when I click a button.

thanks a lot :)

[2018-10-16 13:34] NMateu commented on #15
hi,
this should help you https://gist.github.com/ilikerobots/474b414138f3f99150dbb3d0cc4cc721

[2018-10-23 21:17] #12 closed, assigned to nobody

[2018-10-24 07:07] talmor-guy opened #16 "How can I add text after a parameter?"
I am looking to add a string like "Weight: 20Kg" where 20 should be parameterised and followed by "Kg" without a separating space, however writing something like "Weight: $weightKg" ends up with a variable called weightKg and "Weight: ${weight}Kg" results in a function with bas syntax (missing argument name). Is there a way to overcome this?

[2018-10-30 05:38] wamisnet opened #17 "MaterialLocalizations error"
https://github.com/flutter/flutter/commit/9bf8502fef3f35d8d3ba692ce0383e9f55a34624

Since this commit, when multilingualization is done, the application spits out an error.

[code]

[2018-11-05 14:02] long1eu commented on #16
try `"Weight: ${weight}\Kg"`

[2018-11-06 06:16] #17 closed, assigned to nobody

[2018-11-07 07:07] talmor-guy commented on #16
Not working, it still results with a no argument function.

[2018-11-13 21:38] jjerome00 opened #18 "Flutter change breaks LocaleResolutionCallback"
I started seeing errors when trying to run on iOS.
[code]
See these issues:
https://github.com/flutter/flutter/issues/24064
https://github.com/flutter/flutter/issues/24288

I was able to workaround this issue:
1. Disable the `flutter_i18n` plugin in Android Studio
2. Updated the `resolution({Locale fallback})` function in my `generated/i18n.dart` file like so:
[code]

Obviously this is not an idea

[2018-11-15 02:21] hyochan commented on #18
This still happening from `10.0.0` to recent version. I've just tested this and it works fine until flutter version `0.9.6`.

[2018-11-16 14:53] noordawod commented on #18
I can send a PR to fix this, @dooboolab @long1eu.

[2018-11-16 14:54] long1eu commented on #18
perfect

[2018-11-16 15:01] noordawod commented on #18
Here you go @long1eu: https://github.com/long1eu/flutter_i18n/pull/19
All credit goes to @jjerome00 for the fix!

[2018-11-16 15:02] noordawod commented on #18
All credit goes to @jjerome00 for the fix!

[2018-11-17 15:39] phamanhminh1208 opened #20 "Type 'en' is not a subtype of type 'S'"
I use flutter sdk 0.9.4 and the default config as in your plugin document:
[code]

And in HomeView, I use like that:
`new Text(S.of(context).start),`

Then it makes error like below:

[code]

[2018-11-18 12:01] long1eu commented on #14
Sure. What would be a use case that you see?

[2018-11-19 07:46] noordawod commented on #20
This should be fixed with #19. Waiting for JetBrains to approve the latest build: https://plugins.jetbrains.com/plugin/10128-flutter-i18n

[2018-11-19 07:47] noordawod commented on #16
I also didn't manage to find a way to accomplish this. If I get some free time this week, I can check and submit a PR.

[2018-11-19 07:48] noordawod commented on #11
Is this fixed @long1eu?

[2018-11-19 09:09] long1eu commented on #11
not yet, let me do it

[2018-11-19 10:18] long1eu commented on #11
done, should be fixed by my last commit

[2018-11-19 10:22] long1eu commented on #16
So it looks like it work like this
[code]

The resulting code is
```String weight(String weight) => "the weight is $weight\Kg";```

Is this what you expected?

[2018-11-19 10:29] long1eu commented on #15
Thanks @NMateu

[2018-11-19 10:29] #15 closed, assigned to nobody

[2018-11-19 10:32] long1eu commented on #13
Not quite possible since Flutter doesn't support mirrors(reflection) ATM. Thanks for the suggestion.

[2018-11-19 10:32] #13 closed, assigned to nobody

[2018-11-19 10:33] long1eu commented on #10
This is fixed with the new update. Thanks for reporting.

[2018-11-19 10:33] #10 closed, assigned to nobody

[2018-11-19 10:33] long1eu commented on #4
Sorry for the delay. FIxed with the new update.

[2018-11-19 10:33] #4 closed, assigned to nobody

[2018-11-19 10:37] long1eu commented on #9
done, thanks

[2018-11-19 10:37] #9 closed, assigned to nobody

[2018-11-19 10:40] NMateu commented on #14
Hi @long1eu

the simplest sample will be something like this:

    "TUT_ONE": {
      "TITLE": "title 1",
      "DESC": "desc 2"
    },
    "TUT_TWO": {
      "TITLE": "title 2",
      "DESC": "desc 2"
    },
    "TUT_THREE": {
      "TITLE": "title 3",
      "DESC": "desc 3"
    },
    ...
  },

[2018-11-19 12:16] noordawod commented on #16
Actually, I think this is a bad hack and the proper way to do it is like this:

[code]

But currently the plugin doesn't properly handle `{`  `}` or even `\{` `\}`, which I believe it should.

How hard can it be to patch the plugin? I don't think it would take that much time to support curly parentheses...

[2018-11-19 12:56] long1eu commented on #16
Sorry but I don't see a reason to support {}. Using "${variable} and
another text" is against Dart styles code. You should only use {} when you
reference something from that variable.

https://www.dartlang.org/guides/language/effective-dart/usage#avoid-using-curly-braces-in-interpolation-when-not-needed

Let me know your thoughts on this.

Also if you don't think it would take much time to add sup

[2018-11-19 13:12] noordawod commented on #16
Definitely agree with Dart styles code, but I just mean that if Dart supports { }, the plugin should at least offer support for it. That's all :)

I think I will do that, no problem.

[2018-11-19 13:16] long1eu commented on #16
Thank you so much!

On Nov 19, 2018 15:12, "Noor Dawod" <notifications@github.com> wrote:

Definitely agree with Dart styles code, but I just mean that if Dart
supports { }, the plugin should at least offer support for it. That's all :)

I think I will do that, no problem.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/long1eu/f

[2018-11-20 02:50] caiyonglong opened #21 "The plugin version"
The plugin version of android studio is still 0.0.6+1, how to update to the latest version?

[2018-11-20 15:37] g123k opened #22 "Support newer versions of IntelliJ/Android Studio"
Hello,

The plugin is currently supporting a 181.x version of IntelliJ.
The current stable version of IntelliJ is 182.x and some RC for 183.x are even available.

Do you plan to support these new releases?

Thanks for your work!

[2018-11-21 09:00] jeroentrappers opened #23 "LocaleListResolutionCallback is not a class."
After updating to version 0.1.1 in Android Studio, this class (or rather function definition) is not found.

[2018-11-21 12:50] kaiyan910 opened #24 "supporting language with multiple script code for iOS"
Currently iOS cannot display the correct language when the target language contains more than 1 script code (e.g. chinese with tranditional chinese (zh_hant) and simplified chinese (zh_hans)).

and seems this issue provided the solution:
https://github.com/flutter/flutter/issues/22642

any plan on fixing this ? thanks

[2018-11-22 10:32] smiLLe commented on #23
same for me. @jeroentrappers did you find an easy fix?

[2018-11-22 20:13] MderM opened #25 "File generator does not work"
Just installed plugin. The standard arb file was generated and I have the commands for extracting strings to arb.

But the i18n.dart file never gets generated: StackTrace:
kotlin.KotlinNullPointerException
	at eu.long1.flutter.i18n.files.FileHelpers.getI18nFile(FileHelpers.kt:20)
	at eu.long1.flutter.i18n.workers.I18nFileGenerator.generate(I18nFileGenerator.kt:53)
	at eu.long1.flutter.i18n.actions

[2018-11-27 13:02] noordawod commented on #23
Update your Flutter code, this is a new class in Flutter dev (and maybe beta) branch.

[2018-11-27 13:03] noordawod commented on #21
It should automatically update...

Check: https://plugins.jetbrains.com/plugin/10128-flutter-i18n

[2018-11-27 13:04] noordawod commented on #22
https://plugins.jetbrains.com/plugin/10128-flutter-i18n

It's there.

[2018-11-27 14:28] #21 closed, assigned to nobody

[2018-11-28 10:56] LucioD opened #26 "Localizations no longer works after upgrade to the latest version of flutter i18n plugin"
Hi to all,
on a my Flutter app I use the **flutter i18n plugin** for texts localizations, with two supported languages: Italian and English (the English is also the fallback language). **This localizations until a few days ago worked properly,** **but after the upgrade of the i18n plugin to the latest version 0.1.1 it stopped working**, and all the app's texts are now always displayed in English (

[2018-11-28 22:08] noordawod commented on #16
Added support in pr #27
(sorry for the delay, I've been busy)

[2018-11-29 15:38] sandrokl commented on #26
Following... I have this problem too.

[2018-11-30 07:07] miduch commented on #25
+1

can i run some command to get this file generated manually for now?

[2018-12-01 02:01] baoxiehao opened #28 "Can't resolve string value resource"
This plugin of Flutter is awesome! But I have encountered the issue that when I have added more string to the arb files, the i18n.dart is not re-generated automatically. How can I trigger it manually?

I'm using Android Studio 3.2

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel beta, v0.11.12, on Mac OS X 10.14.1 18B75, locale zh-Hans-CN)
[✓] Android toolchain - d

[2018-12-01 17:32] miduch commented on #28
having same issue

[2018-12-02 11:56] noordawod commented on #20
@long1eu this can be closed now I think.

[2018-12-02 11:56] noordawod commented on #16
@long1eu this can be closed after pr merge I believe.

[2018-12-02 11:56] noordawod commented on #18
@long1eu this can be closed now I believe.

[2018-12-02 11:57] noordawod commented on #22
@long1eu this can be closed now I believe.

[2018-12-02 11:57] noordawod commented on #23
@long1eu this can be closed now I believe.

[2018-12-02 11:57] noordawod commented on #24
@kaiyan910 maybe you want to submit a pr to address this use case?

[2018-12-02 11:59] noordawod commented on #25
@MderM if you can comment out your arb file incrementally to uncover the problematic line and post it here, that would help a lot to narrow down the problem.

[2018-12-02 12:03] noordawod commented on #26
Check: https://github.com/flutter/flutter/pull/24481

Did you upgrade to the latest Flutter and are you checking for `null` value in your locale resolve callback?

It's also important to note that Flutter may call your callback a couple of times, one time when it starts and one time when the system locale has been resolved.

[2018-12-02 12:04] noordawod commented on #28
It should work once every minute, that's how the plugin is programmed even though my Android Studio regenerates the `i18n.dart` instantly. Try uninstalling and reinstalling maybe?

[2018-12-04 19:24] LucioD commented on #26
No, I again analyzed everything and done a bit 'of debugging.
In my case, the problem lies in the **_isSupported()_** method of the **_GeneratedLocalizationsDelegate_** class, which is automatically generated in the Android Studio IDE (and made unmodifiable in that environment) by the **Flutter i18n plugin** (https://plugins.jetbrains.com/plugin/10128-flutter-i18n).
This **_isSupported()_** method

[2018-12-05 14:42] noordawod commented on #26
@LucioD

I suppose you have your source ARB files named as `strings_it.arb`, `strings_en.arb`, right?

Here's a quick way how to fix the problem you're facing: name your ARB files to include the country as well, for example: `strings_it_IT.arb`

What I would suggest to do instead is to allow the user to provide a comparator function that returns whether a locale is supported or not. It should be a

[2018-12-06 17:07] LucioD commented on #26
@noordawod
1) yes, I have the ARB files named `strings_it.arb` and `strings_en.arb`.
2) I had already thought about the solution to include the country code in the name of the ARB files, but I had discarded it because, if it was good for the Italian language (associated with the only IT country code), the German, French and Spanish languages (that I will have to implement as soon) are associated w

[2018-12-07 10:19] noordawod commented on #26
Yeah, I mostly agree with you. My proposition was for a quick fix, not a long term one.

I would reformat the suggested method like this:

[code]

The reason for dropping the first check (`contains()`) is because we're already looping through the locales so your implementation is actually doing double the work in worst-case scenario.

If you send a pr, maybe the maintainer @long1eu can merge it in

[2018-12-07 20:56] LucioD commented on #26
@noordawod
No please! The reformatted method you suggested causes exactly the same problem I've reported!
1) The 'locale' parameter always contains both the language and the country (example fr_CH, it_IT, etc.).
2) It is the user'supportedLocales array that can contain locales in the 'only language' format (example 'fr') or in the 'language + country' format (example 'fr_CH'), depending on the nam

[2018-12-07 22:00] noordawod commented on #26
@LucioD

Ahh, I think you're right about which variable holds the country code. So in this case, the method becomes much simpler:

[code]

A PR is shortcut for **Pull Request**. Google it :)

[2018-12-10 13:06] talmor-guy opened #29 "Plugin stopped generating i18n.dart file"
My plugin stopped generating the i18n file, I am guessing some upgrade of the plugin or flutter broke it.
Tried to uninstall and reinstall the plugin and got this exception:

No match found
java.lang.IllegalStateException: No match found
	at java.util.regex.Matcher.group(Matcher.java:536)
	at java.util.regex.Matcher.group(Matcher.java:496)
	at eu.long1.flutter.i18n.workers.I18nFileGenerator$append

[2018-12-10 18:36] LucioD commented on #26
Ok, your last method is correct and works perfectly!
Can you make it the default isSupported() method in the GeneratedLocalizationsDelegate class of the Flutter i18n plugin, and /or allow the user to override it by an appropriate new parameter in the MaterialApp() constructor?
Thanks in advance.

[2018-12-11 10:37] noordawod commented on #26
I can provide a pr to the maintainer, but I cannot merge the changes. Based on the maintainer's last engagement, I would say that it'll take few weeks for these changes to find their way into the code.

@long1eu feel free to give me `merge` privilege so I can help out with maintaining this plugin.

[2018-12-11 18:17] LucioD commented on #26
Ok, I will wait for these changes.
Thanks for now.

[2018-12-11 18:43] gardyna opened #30 "i18n icelandic causes build issues"
_From @zoechi on December 11, 2018 18:6_

@gardyna commented on [Tue Dec 11 2018](https://github.com/flutter/flutter/issues/25223)

adding Icelandic to internationalization creates the class "is" in i18n.dart which conflicts with a reserved keyword an causes any build to fail. I suggest changing it to isl (if possible) to avoid name conflicts or making some "default addition" to class names in i18

[2018-12-11 18:43] gardyna commented on #30
_From @zoechi on December 11, 2018 18:7_

Just a wild guess that this is a plugin feature.
Let's move back to flutter/flutter if this is not related to the Flutter plugin.

[2018-12-11 18:43] gardyna commented on #30
it appears to be [this pluggin](https://github.com/long1eu/flutter_i18n) which causes the issue.

[2018-12-14 08:31] long1eu commented on #30
hi! good catch

[2018-12-14 11:22] long1eu commented on #28
![screen shot 2018-12-14 at 13 21 07](https://user-images.githubusercontent.com/9283414/50000743-27f63880-ffa3-11e8-9b07-9272f46ce321.png)
Next to the run button you should have the generate arb icon. Closing this as duplicate

[2018-12-14 11:22] #28 closed, assigned to nobody

[2018-12-14 11:23] long1eu commented on #29
#26

[2018-12-14 11:23] #29 closed, assigned to nobody

[2018-12-14 11:23] long1eu commented on #25
#26

[2018-12-14 11:23] #25 closed, assigned to nobody

[2018-12-14 11:33] long1eu commented on #24
I tried to add an `strings_zh_hant_HK.arb` file and the corresponding class get's generated. So as long as you specify it correctly in supportedLocales like this:

[code]

it should not be an issue.
Let me know if this works for your.

[2018-12-14 11:36] #24 closed, assigned to nobody

[2018-12-14 11:36] #23 closed, assigned to nobody

[2018-12-14 11:36] #22 closed, assigned to nobody

[2018-12-14 11:36] #20 closed, assigned to nobody

[2018-12-14 11:36] #16 closed, assigned to nobody

[2018-12-14 11:37] #18 closed, assigned to nobody

[2018-12-14 11:39] long1eu commented on #14
Not sure you understood the attributes right. Those attributes are for just one attributes and not for nested resources. Not planning to add that anytime soon since it's out of arb scope. Let me know if you feel that I'm wrong.

[2018-12-14 11:39] #14 closed, assigned to nobody

[2018-12-14 11:39] #11 closed, assigned to nobody

[2018-12-14 11:55] long1eu commented on #26
@noordawod thanks. Let me know if the latest release solves this. https://github.com/long1eu/flutter_i18n/releases

[2018-12-14 14:38] noordawod commented on #28
Thanks, I never saw that :)

[2018-12-14 14:40] noordawod commented on #26
@long1eu I believe not, I shall provide a pr later today.

[2018-12-14 15:13] UkonnRa opened #31 "Plugin cannot deal with Chinese Quotation Marks(“”) and Angle Quotation Mark(《》) correctly"
When writing a Chinese sentence: `这本书《$bookName》很棒`, the plugin will recognize `《》` as a part of the param also, so does `“”`

[2018-12-15 06:06] Jon-Salmon commented on #26
I believe this issue was introduced in PR #19

[2018-12-15 09:13] long1eu commented on #31
Perfect finding. Can you try the new version of the plugin? https://github.com/long1eu/flutter_i18n/releases/tag/v0.2
With the new version you would be able to wrap the param into parenthesis. So your string would be
`这本书《${bookName}》很棒`

This should work.

[2018-12-15 13:50] UkonnRa commented on #31
It works! Good job! Hope you can push it to IntelliJ's plugin market. Cannot wait to update!

[2018-12-15 17:53] #31 closed, assigned to nobody

[2018-12-15 17:53] long1eu commented on #31
fixed in version 0.2, waiting for publish

[2018-12-15 17:54] long1eu commented on #30
let me know if the issue is still present in the new version

[2018-12-15 17:54] #30 closed, assigned to nobody

[2018-12-16 13:38] noordawod commented on #26
@Jon-Salmon
pr #19 solved a problem with Flutter actually, and I don't believe it introduced new bugs. In fact, I also submitted a pr for the Flutter team (which was also merged) to address a NPE in the Flutter code.

[2018-12-16 19:47] Jon-Salmon commented on #26
@noordawod  please correct me if i'm wrong, but PR #19 added the check
[code]
when resolving a valid language.

The issue here is that `isSupported()` just checks that the locale passed isn't null and is contained within a the list of supported languages. As a result, if the app supports the language code `de` for example but your language is set to `de_DE`, `isSupported()` will return false and t

[2018-12-17 07:45] noordawod commented on #26
The previous code only had a check like this:

[code]

Basically, this pr just added a check for `null` which was introduced with a recent Flutter update from that week. As I mentioned, this change broke not only this plugin but other plugins and even Flutter itself was prune to the bug.

[2018-12-17 09:10] rostopira opened #32 "Plugin doesn't handles variable names with underscore"

[2018-12-18 19:02] noordawod commented on #26
@LucioD

Added support in pr #33, it also maintains backward compatibility so it doesn't break previous apps. Hopefully the maintainer will approve and merge.

[2018-12-19 17:59] LucioD commented on #26
@noordawod

Ok, I'm waiting for the change.

[2018-12-22 12:52] gardyna commented on #30
Did a build this morning with Icelandic (and several other languages) everything went off without a hitch and is functioning perfectly, thank you for the quick fix.

[2018-12-22 17:35] long1eu commented on #30
Nice to hear that it work for you. :D

[2018-12-29 19:27] thedude61636 opened #34 "doesn't handle locales without regions very well"
currently i'm using the library with only the language code without the country code
library generates the i18n file as follows

![image](https://user-images.githubusercontent.com/13031288/50541431-0a39ed80-0bb7-11e9-89db-df8e180c9539.png)

currently flutter for some reason when using a locale with a language code and an empty country code results in creating a locale languageCode_countryCode
so w

[2018-12-29 22:12] thedude61636 commented on #34
after 3 hours of searching it turns out it's flutter's fault
https://github.com/flutter/flutter/issues/13452

never the less if you have the time please do remove the empty country code

[2019-01-09 20:12] ammar-esrawi opened #35 "The getter '{string_key}' was called on null."
`static S of(BuildContext context) => Localizations.of<S>(context, S);  ,`
 this call returns null
so the usage like will produce the exception **The getter '{string_key}' was called on null.**

[2019-01-10 11:04] long1eu commented on #35
I need more info.

[2019-01-10 11:05] long1eu commented on #32
can you give me some examples?

[2019-01-10 17:35] ammar-esrawi commented on #35
@long1eu
I think the problem comes from the flutter frame work it self
but in general the issue occur once you try to reach the S.of(context).SOMETHING inside a StateFull widget this will make the call` return Localizations.of<S>(context, S);` returns null instead of instance from S class

,i created another issue in the flutter repo it contains more details
please follow [this](https://github.com

[2019-01-10 17:38] long1eu commented on #35
You didn't setup the plugin. You don't have the proper LocalisationDelegate
into you app. Follow the instructions carefully.

În joi, 10 ian. 2019, 19:35 ammar-esrawi <notifications@github.com a scris:

[2019-01-10 17:40] long1eu commented on #35
Feel free to reopen the issues if you have the same problem after following the instructions.

[2019-01-10 19:52] ammar-esrawi commented on #35
i tested your sample app and it did not work for me
in your app you setup the delegates and supported locals but did not call the values, i cloned your app and only changed one line in the main.dart file

`home: MyHomePage(title: S.of(context).app_name),`

[code]

this generated the following log

[code]

note :
i can not reopen the issue

### Thank you for the very useful plugin

[2019-01-10 19:57] ammar-esrawi commented on #35
dart versaion
![image](https://user-images.githubusercontent.com/40269203/50993504-83740180-1522-11e9-878e-5bc515c6cd6e.png)

flutter version
![image](https://user-images.githubusercontent.com/40269203/50993553-a6061a80-1522-11e9-8b3f-f6d228b72b51.png)

[2019-01-11 02:22] etet2007 commented on #15
But it seems that you have to change the state of MaterialApp, and this will reload the entire app. Is there any ways to change language in a setting page but not reload the app? Thanks!

[2019-01-11 02:23] long1eu commented on #15
I don't see the problem rebuilding the MaterialApp widget.

[2019-01-11 02:36] etet2007 commented on #15
It's usable but other widgets will lose their states. I think it's best to stay in the same page after you change language.
https://github.com/flutterchina/gitme
This app is an example.

[2019-01-11 02:37] long1eu commented on #15
No they won't lose their state. They will be rebuilt with the new Localization parent. Can you provide a MWE ? Maybe I don't get it right.

[2019-01-11 03:44] etet2007 commented on #15
Forgive my poor expression ability.
What I have done:
![localization](https://user-images.githubusercontent.com/12908406/51011794-e2725e80-1594-11e9-87fc-6f7d07c4256f.gif)
What I want:
![qq20190111-0](https://user-images.githubusercontent.com/12908406/51011973-c3280100-1595-11e9-93f3-5498c68c543d.gif)

[2019-01-11 09:56] etet2007 commented on #15
You are right. It's my mistake. There is another problem to make my app reload.

What's more. I find that we can change locale field in MaterialApp to "change language promatically ".
[code]

Your plugin is so great. I am deeply grateful for you help.

[2019-01-14 15:38] smiLLe commented on #26
@long1eu  any chance you gonna merge @noordawod  PR soon?

[2019-01-14 19:06] #35 closed, assigned to nobody

[2019-01-14 19:07] long1eu commented on #35
Your you can't use S with that context. S.of(context) will always return null.

[2019-01-14 19:07] long1eu commented on #35
try it like this
[code]

[2019-01-14 22:04] ammar-esrawi commented on #35
this worked fine thank you

[2019-01-14 22:15] long1eu commented on #35
Do you understand why?

În mar., 15 ian. 2019, 00:04 ammar-esrawi <notifications@github.com a scris:

[2019-01-14 22:24] ammar-esrawi commented on #35
Yep i have been using the widget context since your generated Class S deppend on Localizations which only work in Material context so it worked through the builder

I think these information need to be documented in Flutter website cuz i read the documents but this important info were not presented

I appreciate your efforts

Also i wish if you can work on a plugin for the toJson ,fromJson also, t

[2019-01-14 22:31] long1eu commented on #35
try https://pub.dartlang.org/packages/built_value

[2019-01-14 22:32] #32 closed, assigned to nobody

[2019-01-30 16:26] yuzurihaaa opened #36 "plugins didn't work properly with existing project"
I am working on a project, I works fine, until I need to change my device, installed `IntelliJ`/`Android Studio` from `Jetbrains-Toolbox`, installed `Flutter`, `Dart` and `i18n` plugins and run the current project. And then this error appear, and the autogenerated files no longer auto generated.
[code]

it works fine when I create a new project.

[2019-02-02 15:11] as001622 opened #37 "Getting error in Plugin."
I 'm getting following error when my application is started. And i18n file is not generated.
kotlin.KotlinNullPointerException
	at eu.long1.flutter.i18n.files.FileHelpers.getI18nFile(FileHelpers.kt:20)
	at eu.long1.flutter.i18n.workers.I18nFileGenerator.generate(I18nFileGenerator.kt:54)
	at eu.long1.flutter.i18n.workers.Initializer$runActivity$$inlined$scheduleAtFixedRate$1$lambda$1.compute(action

[2019-02-03 09:51] hiperioncn commented on #37
Same issue.

[2019-02-03 11:07] kika commented on #37
Same.
[code]

[2019-02-03 11:58] kika commented on #37
The reason is missing `misc.xml` in `.idea` directory (the project file).

[2019-02-03 14:24] hiperioncn commented on #37
@kika Thanks. It works for me. Is it a bug of AS3.3?

[2019-02-03 21:39] kika commented on #37
@hiperioncn or, it might become optional. Everything in my flutter project worked perfectly without this file, except for this plugin.

[2019-02-11 10:16] BenoitVerstraete commented on #37
Same issue too :

`kotlin.KotlinNullPointerException
	at eu.long1.flutter.i18n.files.FileHelpers.getI18nFile(FileHelpers.kt:20)
	at eu.long1.flutter.i18n.workers.I18nFileGenerator.generate(I18nFileGenerator.kt:54)
	at eu.long1.flutter.i18n.workers.Initializer$runActivity$$inlined$scheduleAtFixedRate$1$lambda$1.compute(actions.kt:64)
	at com.intellij.openapi.application.impl.ApplicationImpl.runRead

[2019-02-12 13:09] AkoWu101 opened #38 "how to localize for chinese"
i try to define
string_zh.arb => Traditional Chinese for Taiwan
string_zh_CN.arb => Simplify Chinese
string_zh_HK.arb => Traditional Chinese for Hong Kong

but, always use string_zh_HK when switching different chinese language.

What is the correct way to handle it?

[2019-02-14 02:33] baoxiehao commented on #28
Thanks. I've never met the problem again.

By the way, any plan to support the string array?

[2019-02-15 09:32] AkoWu101 commented on #37
@kika i get the same bug. but, where can i found misc.xml? my project is missing. What is the content of this file ?

[2019-02-15 09:53] benoitverstraete commented on #37
@KingWu you can get this file in the example of the plugin :
[https://github.com/long1eu/flutter_i18n/blob/master/.idea/misc.xml](https://github.com/long1eu/flutter_i18n/blob/master/.idea/misc.xml)

[code]

[2019-02-15 18:46] yuzurihaaa commented on #36
closing this, from this [reply](https://github.com/long1eu/flutter_i18n/issues/37#issuecomment-463975539)

[2019-02-15 18:46] #36 closed, assigned to nobody

[2019-02-16 16:58] AkoWu101 commented on #37
@BenoitVerstraete Worked. Thx

[2019-02-16 17:01] AkoWu101 opened #39 "Does not support to generate locale's scriptCode with country code"
I create strings_zh_Hant_HK and strings_zh_Hans_CN.
supportedLocales cannot generate Locale with scriptCode and country code

[2019-02-20 06:09] yuzurihaaa opened #41 "variables ended with "...One" and "...Two" did not generate"
`strings_en.arb`
[code]

Only `variableThree` is generated but `variableOne` and `variableTwo` are not. Is it related to `.arb` file?

[2019-02-20 13:49] long1eu commented on #41
You need to also have a value `Other`.

[2019-02-20 13:50] long1eu commented on #41
[code]

[2019-02-21 14:19] smiLLe opened #42 "Feature: generate json keys for other languages based on en.arb"
Right now, whenever i add a new key into en.arb i have to update my other **.arb files as well.
Can't we automatically add the newly added json key in en.arb into the other **.arb files? On top of that we could also automatically sort the **.arb keys based on the sorting of en.arb.

[2019-02-23 04:00] yuzurihaaa commented on #41
ahh I see, it does
[code]
Tbh, I thought it'll generate `String get variableThree => "value three";`
Where can I get information related to this? I tried to find info about this in [here](https://github.com/googlei18n/app-resource-bundle/wiki/ApplicationResourceBundleSpecification#resource-id), but can't find the right info.

[2019-02-23 04:00] #41 closed, assigned to nobody

[2019-02-23 05:48] long1eu commented on #41
Here
https://github.com/flutter/flutter/blob/master/packages/flutter_localizations/lib/src/l10n/README.md

On Sat, 23 Feb 2019 at 06:00, Yusuf <notifications@github.com> wrote:

[2019-02-24 12:34] long1eu commented on #42
Right now you can alt+enter on a string and click extract string resource. There you can choose to add it in other configurations.  Also you can do the same when your in the arb file with the cursor on a key.

[2019-02-24 12:35] long1eu commented on #37
Is this still an issue?

[2019-02-25 09:31] elonjackson opened #43 "Getting error in Plugin, studio doesn't recognize arb file."
Hi to all,
I 'm getting following error when my android studio is started, And **studio doesn't recognize arb file.**

java.lang.ClassCastException: com.intellij.psi.impl.file.PsiBinaryFileImpl cannot be cast to com.intellij.json.psi.JsonFile
	at eu.long1.flutter.i18n.workers.I18nFileGenerator.generate(I18nFileGenerator.kt:34)
	at eu.long1.flutter.i18n.workers.Initializer$runActivity$$inlined$sche

[2019-02-25 10:46] cctse commented on #43
![error](https://user-images.githubusercontent.com/3608665/53331992-3494f680-392d-11e9-957a-a7dd8ccdaf10.png)

maybe the same problem.

I also found no i18n.dart generated after create a new project with latest android studio
[code]

[2019-02-26 12:44] benoitverstraete commented on #37
@long1eu without the file misc.xml, the issue is still there.

[2019-02-26 13:36] mrruby commented on #37
Yes its still an issue, but workaround works!

[2019-02-26 17:37] vishna opened #44 "colliding arb keys with dart language"
if you put as a key in the arb file one of the following values:
- with
- new
- other
- do

the generated class will no longer compile, quick workaround for this would be to put trailing underscore

[2019-02-26 21:01] vishna opened #45 "plurals are generally poorly implemented"
- you can only have one interpolated argument, having more than one will result in non-compiling code
- rather than relying on the value of interpolated argument which can be **whatever** a quantity argument should be passed additionally to other arguments and **it should be an integer** based on which an appropriate plural is selected
- plural <> quantity selection is language dependent: https://

[2019-02-26 21:39] long1eu commented on #45
I see you are a Android dev. Can you show me an example of how you could use the android string resources to obtain this?
https://developer.android.com/guide/topics/resources/string-resource#Plurals

[2019-02-26 22:01] vishna commented on #45
[code]

then:

`getQuantityString (R.string.message,  1, "John", "one") ` -> "John and one other like your photo"
`getQuantityString (R.string.message,  5, "John", "5") ` -> "John and 5 others like your photo"
`getQuantityString (R.string.message,  1, "John", "5") ` -> "John and 5 other like your photo"

you need to map the quantity (the number) to the "zero|one|two|few|many" keyword based on the

[2019-02-26 22:09] vishna commented on #45
seems there's something: https://github.com/dart-lang/intl/blob/master/lib/src/plural_rules.dart

[2019-02-26 22:12] vishna commented on #45
btw... if strings_en.arb file doesn't specify zero|few etc. keys, those won't get generated for languages that do specify those, so English just having `one|other` will shadow other languages with more plurals unless you add dummy `zero|two|few|many` to English

[2019-02-27 16:43] vishna commented on #45
so digging a bit further into this, generating an example output like the one below would be desirable

[code]

[2019-02-27 16:45] long1eu commented on #45
Can you also share the arboretum file, maybe build an project on GitHub.

On Wed, 27 Feb 2019 at 18:43, Łukasz Wiśniewski <notifications@github.com>
wrote:

[2019-02-28 11:14] vishna commented on #45
whoa, a repo project for 2 files that are like less than 10 lines total?

en
[code]

pl
[code]

[2019-03-02 16:50] NBTX opened #46 "Error extracting string resource"
When I try to use 'Extract string resource', I get the following error:

[code]

[2019-03-02 16:51] NBTX commented on #46
Nevermind, fixed by replacing the contents of my empty `strings_en.arb` with
[code]

[2019-03-02 16:51] #46 closed, assigned to nobody

[2019-03-03 02:09] ammachado opened #47 "Issue with Android Studio: Write access is allowed inside write-action only"
Got this exception on a project without fiddling with `misc.xml` or anything else.  Just installed the plugin and the error popped out.

Android Studio 3.3.1
Build #AI-182.5107.16.33.5264788, built on January 28, 2019
JRE: 1.8.0_152-release-1248-b01 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.3

`java.lang.Throwable: Assertion failed: Write access is allowed inside write-ac

[2019-03-06 00:24] surpher opened #48 "Is there a plugin config option?"
Great plugin, and thanks for sharing it!

But I do think that generating a class named `S` can be a bit confusing when reading through the code after a few weeks/months.

Is there a way to override/set/change the name of the auto-generated class?

For example, I would change the config of the plugin to generate a class called `Strings` and use it as `Strings.of(context).myStringKey` or maybe `Intl

[2019-03-08 18:13] ayushin opened #49 "feature: custom boiler-plate code templates"
Hey, great plugin!

It would be helpful though to allow customer boiler plate code templates. In particular I would like to do something like:

[code]

and have the GeneratedLocalizationsDelegate do something like:

[code]
so that I can also use the internationalised strings outside of the build context, e.g. in blocs.

Any chance?

[2019-03-08 18:14] ayushin commented on #49
Or perhaps this is worth including in the standard boiler plate code? so you can also use S.current.your_string throughout your code

[2019-03-08 18:32] ayushin commented on #49
I've created a pull request https://github.com/long1eu/flutter_i18n/pull/50 if anyone is interested.

[2019-03-10 17:38] onitzschke commented on #37
Still an issue but adding the .idea/misc.xml works.

[2019-03-13 07:55] calvinmuller opened #51 "IntelliJ 2018.3"
Any ideas, when clicking the ARB icon in the toolbar.

Added the `misc.xml` file to the .idea directory and get result below.
[code]

[2019-03-14 00:37] ykorzikowski commented on #12
Please add this to README 👍

[2019-03-17 16:11] lionnung commented on #47
I also got this error. @@

[2019-03-17 16:13] lionnung commented on #51
I also got this error. @@

[2019-03-20 07:01] MagicalWater opened #52 "generated/i18n.dart have no generate"
i installed plugin and setting arb file already, but generated/i18n.dart have no generate.

[2019-03-29 07:17] kishan2612 commented on #52
Add this as misc.xml in .Idea
`<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="ExternalStorageConfigurationManager" enabled="true" />
  <component name="NodePackageJsonFileManager">
    <packageJsonPaths />
  </component>
  <component name="ProjectRootManager" version="2" languageLevel="JDK_1_8" project-jdk-name="1.8" project-jdk-type="JavaSDK">
    <output url="fil

[2019-04-01 06:41] MagicalWater commented on #52
this worked, thank you~.

[2019-04-02 12:10] noordawod commented on #51
Just ignore this error, it's because the initial `strings_en.arb` file is missing.

[2019-04-02 12:12] noordawod opened #53 "IntelliJ 2019.1"
There's a new kid on the block and this plugin needs to be upgraded to support it. At least I still don't see the plugin in its latest version in JetBrains.

[2019-04-03 07:43] cirediew commented on #26
The plugin throws an exception on startup of Android Studio and it does not generate new translations.

Plugin version (which seems to be the newest according to AS):
[code]
Android studio:
[code]
Flutter doctor:
[code]
Exception thrown at startup:
[code]

[2019-04-03 09:03] noordawod commented on #26
Flutter i18n (0.0.6+1) is very old, that's probably why.

The plugin is not yet on JetBrains' plugins page, as explained in this issue: #53. We await input from the maintainer, @long1eu.

[2019-04-03 12:07] cirediew opened #54 "The key 'other' cannot be used"
When using the key `other` in the .arb file
e.g.
[code]

The plugin will generate the following:
[code]
It generates a plurals function without a function name which will break the generated `i18n.dart` file.
I don't know if this can be resolved, because plurals use this suffix.

Plugin version:
[code]
Android Studio:
[code]

In the meantime, I'll use `otherOther` as a key.

#### On another note
M

[2019-04-03 19:12] noordawod commented on #52
Great, thanks @kishan2612 for your help!

[2019-04-03 19:12] #52 closed, assigned to nobody

[2019-04-03 19:14] noordawod commented on #49
Thanks @ayushin for your contribution! I have added a couple of comments regarding your pr, just fix those and it's good to merge.

[2019-04-03 19:14] #49 closed, assigned to noordawod

[2019-04-03 19:15] noordawod commented on #47
Which IDE are you using? Is this still an issue?

[2019-04-03 19:17] ayushin commented on #49
@noordawod for some reason it wouldn't build with my IDE, i won't have time right now to investigate, but feel free to modify my contribution in any way you like if this helps somebody in the meantime

[2019-04-03 19:18] noordawod commented on #43
This happens before the plugin is unable to find `strings_en.arb`.
I see that you're using AS 3.3.1, could you check what IntelliJ is it using? Also, what version of the plugin are you using?

This may be linked to #53.

[2019-04-03 19:19] noordawod commented on #38
Need more details:

- What IDE are you using? what version?
- Version of the i18n plugin you're using.
- Snippet of code that you're using.

Thanks.

[2019-04-04 10:22] csshuai opened #56 "java.lang.AssertionError: Already disposed: Project (Disposed) xxxxxxx"
[code]

[2019-04-04 10:37] noordawod commented on #56
@csshuai

Thanks for the report.

Please provide:

- `flutter doctor` output.
- flutter_i18n plugin version.
- IDE version (Help > About), screenshot would be best.

Thanks in advance!

[2019-04-04 12:04] #34 closed, assigned to noordawod

[2019-04-04 12:06] noordawod commented on #37
Duplicate of #43

[2019-04-04 12:07] noordawod commented on #39
Is this still an issue @KingWu?

If so, please provide:

- Output of `flutter doctor -v`
- IDE version (screenshot of Help > About is best)
- Plugin version

Thanks.

[2019-04-07 05:48] simonxmau commented on #43
+1

[2019-04-07 09:16] noordawod commented on #43
Thanks guys, but please report what version of the plugin are you using?
Properties > Plugins > Flutter i18n.

[2019-04-08 03:26] cctse commented on #43
I have reinstalled flutter to stable, it seems not happen again, and I forgot which version I have used

[2019-04-08 04:06] jidesoft opened #57 "Doesn't support zh_TW"
The locale comes into GeneratedLocalizationsDelegate_resolve method is 'zh_Hant_TW' on an Android phone that was set to Chinese (Taiwan). The arb file is strings_zh_TW.arb which is Traditional Chinese. We also have strings_zh.arb which is Simplified Chinese.

[code]

It looks like we should have one more if statement to check for language and country locale.

For Chinese, there are also zh_Hant_HW

[2019-04-08 05:48] 100cm opened #58 "Will this support dynamic string getter?"
If i store a i18n key in variables like this:
`var key = "username"`

and i want to translate it by this plugin , How can i do this?

I know the simplest way is `S.of(Context).username`

But Is there any solution that i can call `S.of(Context).byKey(key)` ?

[2019-04-08 07:10] noordawod commented on #58
The library allows you to embed variables in the JSON, like so:

[code]

Then in code:

[code]

Is that what you want?

[2019-04-08 07:16] noordawod commented on #57
Thanks @jidesoft for this!

Adding support for a script code will be a lengthy task and unsure which languages will this aid beyond Chinese (maybe Japanese, Korean, and other Asian languages?), what do you think @long1eu?

I suspect this may take up to an hour, including testing, so maybe we can put it on the to-do list for an upcoming minor release?

@jidesoft by any chance, do you want to submit

[2019-04-08 07:18] 100cm commented on #58
@noordawod  No, I know how to use dynamic variable in value string, I just want to call the getter dynamically, for example

if My api server returns some entity's status
[code]
and i want to translate the status by the response value.

 i must call `S.of(context).valid` or  `S.of(context).invalid` to translate it. So If i could call it by response value like `S.of(context).getValue(response.statu

[2019-04-08 07:19] 100cm commented on #58
If the generator could generate a map(save the arb translation data) , i think it could be done .(just because flutter doesn't support reflection :( )

[2019-04-08 07:37] 100cm commented on #58
hello there?

[2019-04-08 10:44] noordawod commented on #58
@100cm nah, this is a strictly static-only localization library, and what you're describing is a business logic of the app. I recommend you use a state variable to accomplish that.

[2019-04-08 10:44] #58 closed, assigned to noordawod

[2019-04-08 15:20] jidesoft commented on #57
@noordawod @long1eu Since I need it anyway, I can do it if you can tell me where to modify the code as I am not familiar with the way IDEA plugin works. Here are the list of tasks I can think of.

1. When scanning the existing arb files, it should support scriptCode. The scriptCode should have a high priority than countryCode. The get supportedLocales method should be generated to include scriptCo

[2019-04-11 10:45] csshuai commented on #56
[code]

flutter_i18n: `1.0.3`

![image](https://user-images.githubusercontent.com/1501906/55951445-d8422800-5c89-11e9-9e4a-f70064ff2f07.png)

[2019-04-11 12:25] noordawod commented on #56
Perfect, thanks! Will schedule it for a next release, this should take a short fix.

[2019-04-13 10:07] esfomeado commented on #47
I also go this problem on Android Studio 3.3.2.

[2019-04-15 04:35] zaralockheart commented on #53
hmmm.. seems like it doesn't work for exist project, but it works for new project :/

[2019-04-15 15:55] krossenk commented on #17
Solved this issue by adding following in pubspec:
[code]
And in main instantiation of app:
[code]
`GlobalMaterialLocalizations.delegate` fixed it for me

[2019-04-17 08:08] ghost opened #59 "kotlin.KotlinNullPointerException"
This error is thrown when I click on the button for generate i18n file
kotlin.KotlinNullPointerException in Android Studio 3.3.2
t eu.long1.flutter.i18n.files.FileHelpers.getI18nFile(FileHelpers.kt:20)
	at eu.long1.flutter.i18n.workers.I18nFileGenerator.generate(I18nFileGenerator.kt:54)
	at eu.long1.flutter.i18n.workers.Initializer$runActivity$$inlined$scheduleAtFixedRate$1$lambda$1.compute(action

[2019-04-25 10:13] Elvis5566 opened #60 "Is there a way to change output folder of i18n.dart?"
My project has a path dependency package, which has some common widgets for different apps.
I'd like to move i18n to sub-package.
Is there a way to change the output folder to my_package/lib/generated ?

Thank you

[2019-04-25 13:06] noordawod commented on #60
Why not have the `my_package/lib/generated` import the file instead?

[2019-04-26 02:57] Elvis5566 commented on #60
Since my_package has no dependency to my_app, I can only import i18n.dart via relative path.
However, in this way, there are some shortcomings:
1. IDE may not be able to auto import for me by using OPTION + ENTER.
2. if I change file path, I'll have to revise those imports.

That's why I need a way to change output folder or i18n root folder (the folder that contains 'res' and 'lib')

[2019-04-26 06:37] noordawod commented on #60
Well, it's a good idea nonetheless. What do you think @long1eu? Could this be configurable, maybe in `pubspec.yaml`, so that the plugin picks it up automatically?

[2019-04-30 03:51] phpmaple opened #61 "how to use this in VSCode editor"
I use editor from Android Studio to VSCode, and how to use this in VSCode editor?

[2019-04-30 11:22] arturomf commented on #47
I have this problem on Android Studio 3.4

[2019-05-01 01:03] noordawod commented on #61
This plugin is written in Java and is incompatible with VS Code.

[2019-05-01 01:03] #61 closed, assigned to noordawod

[2019-05-03 14:24] umutseven92 opened #63 "Error in i18n.dart when using Indonesian locale"
After adding an .arb file in Indonesian locale (which has the country code _in_), the plugin adds:

[code]

to _generated/i18n.dart_ file, which fails because _in_ is a reserved keyword in the dart language. Since any changes to i18n.dart gets overridden immediately, right now it is impossible to use this plugin for Indonesian locale.

[2019-05-05 15:35] Purus commented on #60
How about having as option  in IDE settings?

[2019-05-05 15:37] Purus commented on #47
I am using Android 3.4 and got this issue too.. But it's not a blocking issue.

[2019-05-05 15:58] Jon-Salmon commented on #47
I'm having this issue on a fresh install of Android studio 3.4 running on macOS 14.4.4

The plugin isn't generating any compiled files.

[2019-05-05 16:13] Purus opened #65 "Change Language at run time from other Screen"
My question is similar to https://github.com/long1eu/flutter_i18n/issues/15. But have an issue understanding it as it's not similar to the class generated by the plugin.

The gist shows changing the language from the Main/Home screen. In my I have a settings screen and user can change their language. When a language is selected, the new language should be reflected.

I am using the below code in m

[2019-05-06 17:43] Purus commented on #65
This is my main app code. Any help would be useful.

[code]

[2019-05-07 19:29] Lootwig commented on #53
https://plugins.jetbrains.com/plugin/10128-flutter-i18n/versions

For some reason, 0.0.6+1 is the last one marked upward compatible beyond 2018.3.6. Is there no way to specify newer releases as "unbounded" upward compatible as well?

[2019-05-09 14:34] permadart opened #66 "Not working with latest Flutter & IntelliJ"
This plugin just stopped working with yesterday's Flutter and recent IntelliJ update. Keeps giving an error and doesn't generate the getters for the Strings. Can it be updated to make it work with newest tools? Thanks.

[2019-05-10 18:07] mis0025033 commented on #65
Same problem. Anyone can help? Thanks

[2019-05-10 18:08] Purus commented on #65
I am holding my app release just for this issue. If someone can help it
would be of great help. Thanks in advance.

Thanks,

Purusothaman Ramanujam

On Fri, 10 May, 2019, 11:37 PM mis0025033, <notifications@github.com> wrote:

[2019-05-11 07:12] mis0025033 commented on #65
Refer to [https://medium.com/saugo360/managing-locale-in-flutter-7693a9d4d6ac](url)
Section: Allowing the user to change the locale
I can now switch to different language in app setting page for whole app .
Work in both Android and ios.
Hope this example can help you.

[2019-05-11 07:22] Purus commented on #65
I have seen this before. But isn't different than what this plugin
generates as a code?

Your are using this plugin? Thanks for your time.

Thanks,

Purusothaman Ramanujam

On Sat, 11 May, 2019, 12:42 PM mis0025033, <notifications@github.com> wrote:

[2019-05-11 10:05] mis0025033 commented on #65
I am using flutter_i18n plugin, but when i use load function, it can't update the locale for the app.
So, I think S.delegate may not work well or there is some kind of information hasn't been mentioned in the document.

So, I try to find out is there any other approach can only update the locale for whole app from any page, and i found this example. And just implement this for updating locale and

[2019-05-11 13:53] Purus commented on #65
Wow. Thanks a lot. You saved my day. Thanks again for your help.

I am sure this should be somewhere documented in the wiki.

Thanks,
R.Purusothaman

On Sat, May 11, 2019 at 3:35 PM mis0025033 <notifications@github.com> wrote:

[2019-05-12 12:18] necessitudo commented on #66
In last version of Android Studio i get next error -
java.lang.ClassCastException: com.intellij.psi.impl.source.PsiPlainTextFileImpl cannot be cast to com.intellij.json.psi.JsonFile
	at eu.long1.flutter.i18n.workers.I18nFileGenerator.generate(I18nFileGenerator.kt:34)
	at eu.long1.flutter.i18n.workers.Initializer$runActivity$$inlined$scheduleAtFixedRate$1$lambda$1.compute(actions.kt:64)
	at com.int

[2019-05-13 09:45] noordawod commented on #66
Thanks for reporting it, @herrmartell. I'll take a look this week.

[2019-05-13 09:46] #65 closed, assigned to nobody

[2019-05-13 09:56] noordawod commented on #63
That's an unfortunate bug, and will most probably cause backward-compatibility issues if we add a prefix or suffix to the class names. I guess we have to add special checks for `in` country code for now.

[2019-05-13 09:57] noordawod commented on #63
@umutseven92 are you able to submit a pr (Kotlin) to fix this bug?

[2019-05-13 10:11] Purus commented on #65
Please confirm on the best approach. I am not sure if this is the only
approach which is best.

Thanks,

Purusothaman Ramanujam

On Mon, 13 May, 2019, 3:16 PM Noor Dawod, <notifications@github.com> wrote:

[2019-05-13 10:33] umutseven92 commented on #63
@noordawod Sure, ill take a look as soon as a I am able.

[2019-05-13 10:41] noordawod commented on #65
This is beyond the scope of this plugin, @Purus, maybe you can check StackOverflow instead?

[2019-05-13 23:17] umutseven92 commented on #63
@noordawod So I did some digging and turns out this problem also occurred with the Icelandic locale (the country code is _in_, another reserved keyword). [Issue here](https://github.com/long1eu/flutter_i18n/issues/30). It was fixed on 0.2, however since my Intellij version is 2019.1, I can only download version 0.0.6, which is very old. Long story short, I cannot test if the issue persists or not

[2019-05-13 23:18] umutseven92 commented on #53
Any update on this? The 0.06 version that is available for 2019.1 is very old.

[2019-05-14 11:52] cirediew commented on #66
This seems to be the same as #53

[2019-05-15 06:42] noordawod commented on #63
I will release a recent version of the plugin for 2019.1 this week. Thanks for taking the time to check this, @umutseven92!

[2019-05-17 12:57] benoitverstraete opened #67 "Disable plugin for project"
Hi,

Is it possible to disable the plugin for given project ? I would like to enable the plugin only for particular projects, not for all projects in android studio.

For example, I created a flutter package and I don't want the class S to be generated ..

Thanks a lot !

[2019-05-20 06:18] noordawod commented on #67
This is a good suggestion indeed, thanks.
Do you want to submit a pr for this, @benoitverstraete?

[2019-05-21 10:49] benoitverstraete commented on #67
Thanks @noordawod !
I didn't work on a solution so I can't submit a new PR.

[2019-05-21 13:18] hacker-cb opened #68 "Plugin should not run on dart project without flutter"
I have dart plain project (without flutter) and flutter_i18n creates `lib/generated` and `res\values\strings_en.arb` files in it.
How to disable such behavior?

I think it will be better if plugin will work **ONLY** if there is dependency to flutter in the `pubsec.yaml`

[2019-05-21 14:26] noordawod commented on #68
Related to #67

[2019-05-22 04:45] Vicent9920 opened #69 "LocaleListResolutionCallback"

[2019-05-22 04:46] #69 closed, assigned to nobody

[2019-06-04 03:33] holmeszyx opened #70 "A error got, with IDEA 2019.1.3 and Flutter plugin v36.0.4"
The methods in `PubRoot` with new Flutter plugin perhaps changed , and that make this error?

[code]
The error stack:

[code]

[2019-06-11 12:55] lascapi commented on #26
Hi! You're right, it's annoying we cannot use just fr (or ge, sp ……)

Thank's for your work and your time :)

[2019-06-14 16:46] ayushin commented on #70
Yes it would be nice if somebody ported it to 2019 ;-)

[2019-06-18 10:09] humazed opened #71 "The lastest plugin on plugins.jetbrains.com is very old"
Please package a new release and push it to plugins.jetbrains.com
the last update is from February.

[2019-06-18 17:33] noordawod commented on #71
@long1eu would you be able to do that? the new Gradle build options should help with that.

[2019-06-19 11:38] MelanieGravel opened #72 "fr_CA doesn't fall back on fr"
I don't know if it's a bug or an enhancement, but no matter what I do (set the local to fr without a country code, even create a strings_fr_ca.arb as a temporary solution), nothing works. According to i18n.dart, it should be a default behavior to fallback to the default language without a country code, right?

[✓] Flutter (Channel stable, v1.5.4-hotfix.2, on Mac OS X 10.14.5 18F132, locale en-CA)

[2019-06-19 12:03] #72 closed, assigned to nobody

[2019-06-19 12:04] MelanieGravel commented on #72
`$flutter clean` solved it! :P

[2019-06-21 08:55] hanshengchiu opened #73 "List<Locale> get supportedLocales doesn't support locales with script"
When I created an .arb like strings_zh_Hant_TW.arb, a wrong entry "Locale("zh", "")" was created in supportedLocales. The correct one should be "Locale.fromSubtags(languageCode: 'zh', scriptCode: 'Hant', countryCode: 'TW')".

[2019-06-22 20:53] noordawod commented on #73
This is unsupported currently. If you want to submit a pr to add this functionality, it would be awesome!

[2019-06-24 05:05] cbenhagen commented on #71
@noordawod can you provide instructions how to build and install this plug-in from the git repo?

[2019-06-24 06:32] titanseason commented on #37
Is this issue fixed?
I got the same error with:
 Flutter i18n plugin:  version 1.0.1,
 Android Studio: version 3.3.2,
 Flutter: version 1.5.4

I copied the `misc.xml` file to `.idea` folder, and this plugin can generate i18n.dart.

But, I still think this is an issue

[2019-06-24 07:46] cbenhagen commented on #26
@noordawod with the plugin built from git master language resolving only works when i set `withCountry` to `false`:
[code]

[2019-06-24 07:50] titanseason opened #74 "[Request Feature] Support for multi strings files"
Now this plugin can just generate the `i18n.dart` for `strings_*.arb`, but if the project is complicated, in most cases, developers want to put strings in diffrent files, for example 'module1_*.arb module2_*.arb ...' , thus the strings can be well orgnized.

So, can you add this feature?

P.S. Sorry, my English is not that good, I don't know if you can understand what I mean.

[2019-06-24 13:36] noordawod commented on #71
git clone ...
cd flutter_i18n/
./gradlew buildPlugin -PideaVersionPrefix={prefix}

{prefix} is one of: 181, 182, 183, 191

[2019-06-25 11:49] parth22 commented on #43
i got same error in my i18n.dart file not generated.
AS-3.4.0.0
flutter -v 1.5.4
flutter i18n -1.0.2
![image](https://user-images.githubusercontent.com/13308845/60095880-41a3e400-976d-11e9-832e-ddd57f25458d.png)

[2019-06-25 12:10] wrozwad commented on #47
plugin: `1.0.2`
IDE: `Android Studio 3.4.1` which based on `IntelliJ IDEA 2018.3.4`
system: `Windows 10 Home 1803`

[2019-06-25 13:23] wrozwad commented on #45
Also there's a problem with parameter name when you don't specify them in `Other` suffix, eg.
[code]
Temporary workaround is do use `$param` name in place of your custom parameter name (`$count`).

[2019-06-25 15:51] wrozwad opened #76 "Change default withCountry value for fallbacks"
In most cases, I think that developers define translations without specified country. And when they want do define fallback language they use `S.delegate.resolution()` or `S.delegate.listResolution()` methods. So wouldn't be better to change `withCountry` default value from `true` → `false`?

[2019-06-26 09:35] noordawod commented on #45
Good catch @sosite.

[2019-06-27 10:21] BrunoMiguens commented on #76
I had the same issue, trying to use a locale for language regardless of the country code. You can change the `withCountry` value while init the localisation.

[code]

[2019-07-01 14:54] humazed opened #77 "Can I use this plugin with package?"
I'm creating a package and want to add some localized strings.

using the localized strings in my app I get `The getter 'localized_string' was called on null`. when calling `S.of(context).localized_string`
this only happens with strings from the package, normal strings from the app work with no problem.

[2019-07-02 14:24] humazed commented on #77
I found out I can, I just need to add the GeneratedLocalizationsDelegate of the library to localizationsDelegates of my app.

[code]

[2019-07-02 14:24] #77 closed, assigned to nobody

[2019-07-03 14:03] d-silveira opened #78 "add string as documentation for the getter"
Great work so far for this plugin,
I would like to suggest a usability improvement: when generating the getters, please also generate documentation comment for each with the string it represents.

Thanks,
Regards

[2019-07-03 14:05] d-silveira commented on #42
@long1eu I'd like to suggest that the string extraction feature is added to the README.md, because, I didn't know about this feature, and was about to open an issue regarding that, I'll now open an issue for the README.md update instead

[2019-07-03 14:10] d-silveira opened #79 "add mention to the string extraction capabilities to the README.md"
First of all great work with this plugin,
now, I'd like to ask you to improve the README.md with a mention and perhaps a screenshot of the string extraction capabilities, namely the ability to select multliple languages to extract to, because it isn't obvious, and it should be, because it's great

Thanks,
Regards

[2019-07-05 14:17] ghost opened #80 "FlutterI18nDelegate is breaking tests"
I'm trying to create a WidgetHelper class that will build the MaterialApp for every test. In this class I use the FlutterI18nDelegate:

[code]

If I try now to run these tests together:
[code]

they will fail while, if I test them one by one, they succeed. If now I remove the `FlutterI18nDelegate` and run again the tests together, they will succeed. Is it possible that this `FlutterI18nDelegate` c

[2019-07-06 04:26] long1eu commented on #80
I think you got the wrong lib. The is no such thing as `FlutterI18nDelegate` in this plugin.

[2019-07-08 06:52] #80 closed, assigned to long1eu

[2019-07-18 10:08] Lootwig commented on #63
@noordawod Some part of your build pipeline seems to be broken. There has not been an update ever since you wrote that comment. I am currently forced to build the plugin locally and set "ideaVersionPrefix=191" manually in the gradle.properties.

[2019-07-18 10:41] umutseven92 commented on #63
@Lootwig Yes, unfortunately this plugin seems to be abandoned (at least for now). Meanwhile I switched to VSCode and am using [this](https://marketplace.visualstudio.com/items?itemName=esskar.vscode-flutter-i18n-json) plugin.

[2019-07-19 09:06] po1arbear commented on #35
delete the 'generated' package, then it will recreate automatic ,solved my problem

[2019-08-04 07:55] riclava opened #85 "There's a bug if I define a field with name of "other""
As the title says, if I do so, the result code will contains code like below
[code]
this will override String def and cause an error when compile ;-(

[2019-08-04 09:55] noordawod commented on #63
@umutseven92 not entirely abandoned, mind you, but the maintainers occasionally need to attend to other important matters in life. In any case, the most recent plugin code is now pushed to JetBrains' repo -- it'll take few days for them to approve it.

[2019-08-04 09:56] noordawod commented on #76
This will break backward compatibility, unfortunately. I don't see it happening...

[2019-08-04 09:56] #76 closed, assigned to noordawod

[2019-08-08 12:22] ragnor-rs commented on #45
Here's an example of language dependency. A correct definition in Russian would be

[code]

The plugin yields

[code]

So If I call `utilHour(2)`, I don't get a correct spelling of `2 часа`. I get `2 часов` because `2 != "few"` obviously.

[2019-08-08 12:58] wrozwad commented on #45
I think that the best option will be implement [`intl` Dart package](https://pub.dev/packages/intl)

[2019-08-13 06:48] ghost opened #88 "Curly bracket notation should be used by the "Extract the string resource" functionality."
Regarding the notes: https://github.com/long1eu/flutter_i18n#notes

It would be helpful if `ExtractStringResourceDart.kt` could use this when extracting strings. Why not always use the `${variable}` notation?

[2019-08-14 06:51] PerLycke commented on #56
@noordawod this error still occurs regularly on latest release and Android Studio. Can I provide some logs for you to squash this bug? :)

[2019-08-14 13:36] jkmpariab opened #89 "new update didn't work for me. local: fa"
localized texts didn't change on device language change.
i used older plugin implementation and it just works fine. but new update does not work at all
---
update: MaterialApp localeResolutionCallback property was set on "en" inadvertently

[2019-08-17 08:20] cr33zy opened #90 "Cannot Undo"
I get an error message if I try to undo (hit cmd-z) after using translated strings in my .dart-files. It happens every time after the i18n.dart got autogenerated. I thought if there's any way to... maybe generate the i18n.dart manually?

![Cannot_Undo_und_murumate___Applications_MAMP_htdocs_flutter_murumate_murumate__-_____lib_widgets_default_dialogs_dart__murumate_](https://user-images.githubuser

[2019-08-18 15:19] #89 closed, assigned to nobody

[2019-08-18 20:54] Nazacheres commented on #37
Greetings, I got exactly the same issue, the only difference is that I am using Intellij IDEA. Adding misc.xml hasn't resolved the issue.

[2019-08-18 21:00] Nazacheres commented on #37
Flutter i18n: 1.0.6-192
Intellij Idea: 2019.2

Stacktrace:
[code]

[2019-08-19 07:31] Nazacheres commented on #37
Please, this is a critically important plugin for our team. What can we do to help to fix it? @noordawod

[2019-08-19 07:52] long1eu commented on #37
until this is fixed, let me give you a workaround

1. clone this repo
`git clone https://github.com/long1eu/flutter_i18n.git`
2. in your app root activate the generator page
` pub global activate --source path {ROOT for flutter_i18n}/flutter_l10n/`
3. run the package with [watch param](https://github.com/long1eu/flutter_i18n/tree/master/flutter_l10n)
` pub global run l10n_generator:main -w`

Keep

[2019-08-19 07:53] #37 closed, assigned to noordawod

[2019-08-19 08:01] Nazacheres commented on #37
@long1eu Thank you very much, I will try and let you know!

[2019-08-19 09:07] Nazacheres commented on #37
Ok, so actually, accidentally, I have figured out what was my problem.
I have had a problem with the structure of files. At the beginning, I have had
`~/FlutterProjects/myapp/root`
but at some point, I changed it to
`~/FlutterProjects/myapp/myapp/root`
however, IntellijIDEA was still using `.idea` folder from the previous path. Fixing that, and adding the following misc.xml fixed the issue for me:

[2019-08-19 09:08] long1eu commented on #37
good to know

[2019-08-22 17:44] noordawod commented on #37
Indeed good to know :)

[2019-08-22 17:46] noordawod commented on #90
The file is auto-generated, do not edit it. It's written in bold in the beginning of the file. Instead, you should edit the `res/values/*.arb` files.

[2019-08-22 17:47] noordawod commented on #56
Very strange bug indeed. I don't recall ever seeing it on my end...
Well, by all means, fire away your logs :)

[2019-08-22 17:47] noordawod commented on #88
@long1eu what do you think? I don't like enforcing this...

[2019-08-22 17:50] noordawod commented on #45
@ragnor-rs I believe you need to read how plural rules work, I think you're missing the fundamentals. Also, if "two" has a special meaning in Russian, why not add corresponding "utilHourTwo"?

[2019-08-23 04:44] cr33zy commented on #90
Oh... Thank you. But I didn't change the auto-generated file but any other file in my lib folder that has a translated string inside itself. So I hit save and the generator gets triggered. After that I try to undo my changes by hitting cmd-z. And then the error message pops up.

[2019-08-24 23:24] noordawod commented on #90
Hmmm... Could be that the IDE is just doing what it's supposed to do, which is to warn that the auto-generated file will also be reverted back to its earlier version.

[2019-08-26 10:30] crush3r commented on #57
I also need a way to support the scriptCode (Hans and Hant). Do you have plans to add this ability?

[2019-08-26 16:09] knaeckeKami commented on #90
I hit that bug/issue too, it's pretty annoying; You cannot undo unless you restart the IDE. I could not figure out how to reproduce it, though.

[2019-08-27 06:05] noordawod commented on #90
That might help but I still think it's an IDE issue...

[2019-08-27 06:06] noordawod commented on #57
The code is written in Kotlin and you'd need to open the project in some Kotlin- and Gradle-capable IDE. I use, as part of normal work, IntelliJ IDEA and can certainly recommend it.

[2019-08-27 06:40] crush3r commented on #57
Thank you for your time for this answer and such a helpful library. You wrote above that you need about one hour to add this functionality. It's required because of without it it's impossible to support all Chinese languages, Traditional and Simplified. It works with Android, but not with iOS. Do you still have plans to add this feature?

[2019-08-27 06:43] long1eu commented on #57
One reason this doesn't work just on iOS is that you didn't added the supported languages to your Info.plist

https://flutter.dev/docs/development/accessibility-and-localization/internationalization#appendix-updating-the-ios-app-bundle

[2019-08-27 09:02] knaeckeKami commented on #90
Yes, maybe. I didn't run into this since I upgraded to Android Studio 3.5, so maybe it's already fixed.

[2019-08-27 09:53] noordawod commented on #90
Closing for now, re-open if needed.

[2019-08-27 09:53] #90 closed, assigned to noordawod

[2019-08-27 12:07] ghost commented on #88
Maybe it could be configurable then? In some languages the space between words does not seem to make sense. If this was the default translaters would not have to know that they should modify the syntax in this case.

[2019-08-27 12:10] long1eu commented on #88
I got your point, but I don't see why we should always use the bracket notation. That is an exception from the rule, not the rule.

[2019-08-28 15:34] ragnor-rs commented on #45
@noordawod No, I'm not. The plugin relies on naive `switch` approach whereas it should be based on pluralization rules which are different for every language. See https://github.com/dart-lang/intl/blob/9d4b477c3314ec203e8f7e65b42ee24d6e5deb40/lib/src/plural_rules.dart#L307, for instance. These rules are used by intl package. (https://api.flutter.dev/flutter/intl/Intl/plural.html).

@sosite is abso

[2019-08-28 18:39] noordawod commented on #45
Ok, now I got what you mean @ragnor-rs. Agreed about the current implementation...

Any of you wants to submit a pr to address it and offer a better implementation?

[2019-08-29 07:47] crush3r commented on #57
@long1eu @noordawod Thank you for the answers. I added the supported languages to Info.plist, and all of them work fine except Chinese. But if I understand right, we can't fix it.
Google wrote: "As of April 2019, the global localization classes support about 52 languages."
And as we could see here
https://github.com/flutter/flutter/tree/master/packages/flutter_localizations/lib/src/l10n
language r

[2019-08-30 14:33] Lootwig opened #91 "Uncaught exception in plugin"
Got this error - might be an easy one given the assertion message:

[code]

[2019-09-01 21:27] g123k commented on #85
For example `animals_details_family_tree_item_mother` will generate a field called `animals_details_family_tree_item_m`

[2019-09-01 23:09] noordawod commented on #85
I guess the quickest would be to rename it. I do agree it's a bug though.

[2019-09-01 23:09] noordawod commented on #85
`animals_details_family_tree_item_mom` ?

[2019-09-02 10:06] g123k commented on #85
Yes I can find a temporary fix.
However this was working on a previous release of the plugin

[2019-09-02 12:26] FilipeOS opened #92 "Plugin don't work"
Hi guys,

Sorry if I'm too noob for this.

So, I installed the plugin according this [instructions ](https://plugins.jetbrains.com/plugin/10128-flutter-i18n) and it worked (no errors), until I get packages on pubspec and restart Android Studio.

After that I tried the github instructions on the README section and still don't work...

When I place this on main.dart it says undefined name:
[code]

A

[2019-09-02 12:31] noordawod commented on #92
@FilipeOS

1) Do you see a `lib/generated/i18n.dart` file in your source tree?

2) Did you import this file in `main.dart`?

[2019-09-02 12:35] FilipeOS commented on #92
Hi @noordawod ,

1. No, I don't see it.
2. I try to auto import but no suggestion shows up sorry

[2019-09-02 13:29] noordawod commented on #92
If you don't see the `lib/generated/i18n.dart` file, it means the plugin isn't installed properly... Try to remove and reinstall it, and send a screenshot of the Plugin screen after restarting the IDE showing the state of the plugin installation.

[2019-09-02 13:40] FilipeOS commented on #92
@noordawod Invalidate Cache and Restart worked like always.

Now `GlobalMaterialLocalizations.delegate,` and `GlobalWidgetsLocalizations.delegate,` is not definied

[code]

[2019-09-02 14:24] noordawod commented on #92
That's unrelated to this plugin, but you should be able to import the relevant Flutter modules to expose those. Check the documentation.

[2019-09-02 14:24] #92 closed, assigned to noordawod

[2019-09-08 01:23] tdh8316 opened #93 "How can I update files automatically whenever I change the translation?"
The file is created automatically whenever the IDE starts.

Is there a way to update the translation without restarting IDE?

[2019-09-08 01:43] tdh8316 commented on #93
I found out that the file is updated when starting the application.

[2019-09-08 01:43] #93 closed, assigned to nobody

[2019-09-09 10:12] acheronian commented on #91
Got the same exception, could be caused by the new flutter plugin release.

Edit:
Another error occured after restarting intellij idea

`kotlin.KotlinNullPointerException
	at eu.long1.flutter.i18n.workers.I18nFileGenerator.generate(I18nFileGenerator.kt:42)
	at eu.long1.flutter.i18n.workers.Initializer$runActivity$$inlined$scheduleAtFixedRate$1$lambda$1.compute(actions.kt:74)
	at com.intellij.opena

[2019-09-12 09:45] TommasoPadovan opened #94 "Simple app running fine in --release while AppBar crashing in --debug"
Steps to reproduce:

main.dart:
[code]

strings_en.arb
[code]

strings_it.arb:
[code]

Set your phone in Italian (or uncomment `localeResolutionCallback`).
run with `flutter run --release` -> works fine
run with `flutter run --debug` -> the `AppBar` makes the application crash with this log:
[code]

[code]

[code]

Related StackOverflow question with a few insights:
https://stackoverflow.com/quest

[2019-09-12 09:58] noordawod commented on #94
Hi,

The error says: `A MaterialLocalizations delegate that supports the it_ locale was not found.`

This most probably happens because (drum roll) "a MaterialLocalizations delegate that supports the it_ locale was not found." :)

Try running the app without loading flutter_i18n at all, for example by composing your own MaterialLocalizations implementation, and report your findings.

[2019-09-12 10:01] TommasoPadovan commented on #94
Thanks for the quick answer :D

I'll try soon, but the problem is that "a MaterialLocalizations delegate that supports the it_ locale" IS actually found.
The point is that if I run the app in `--release mode` there are no warnings, no errors, and all the strings are translated to Italian accordingly to my `string_it.arb` file.

[2019-09-12 10:17] noordawod commented on #94
I know, and I've seen similar errors before. This happens because the Flutter codebase progresses while the MaterialLocalizations implementation stays behind (some texts are not localized in time).

[2019-09-13 09:00] TommasoPadovan commented on #94
Thanks to your precious hint I solved the issue.

The problem is not about the boilerplate code or configuration.

The meaning of the error is that there is no support for the language "it_" for the "default system strings". (In particular it crashes due to some default tooltip of the AppBar -> that's why it is crashing if an `AppBar` is displayed).

As reported [in this Q&A](https://stackoverflow

[2019-09-13 09:09] noordawod commented on #94
Perfect, glad I could be of assistance!

[2019-09-13 09:09] #94 closed, assigned to nobody

[2019-09-22 19:00] duduf15 opened #95 "Splash screen duration"
I was using  https://pub.dev/packages/flutter_i18n  fir translations in my app, due to a black screen after splash screen I had tried this plugin. It’s working well but my splash screen display duration went from 2 seconds to 6 seconds. Why is it so long? I tried with and empty project and it’s the same time

[2019-09-22 22:15] noordawod commented on #95
@duduf15

This doesn't sound like something related to flutter_i18n but something else that you changed or added to your project. Check the git history/diff and try to find out why.

[2019-09-22 22:15] #95 closed, assigned to noordawod

[2019-09-24 17:07] mrkpatchaa commented on #61
As you declared working on the VSCode extension, where can we find it and test ?
Thanks.
I've found this, https://marketplace.visualstudio.com/items?itemName=esskar.vscode-flutter-i18n-json , but they're using json. The approach is very similar.

[2019-09-24 19:35] duduf15 commented on #95
Thank you I will check

[2019-09-24 20:16] CalvinKern opened #96 "Generate i18n from command line"
First off, thanks for building this fantastic plugin!

While it works wonderfully the way it was designed, it would be _even better_ if you could also have the `i18n.dart` file generated/built from the command line. My team uses a translation service to get strings in our current Android app translated. These new translations are stored in an s3 bucket where we have an automated task to commit the

[2019-09-24 21:09] noordawod commented on #96
@long1eu didn't you add command-line support as well using build_runner?

[2019-09-24 21:10] noordawod commented on #61
@long1eu ?

[2019-09-26 00:44] drriguz commented on #17
@krossenk  Works for me too, but I don't know why.....

[2019-09-27 08:04] haarts commented on #12
Wait. You're nesting two MaterialApp widgets? That seems counter intuitive.

[2019-09-27 14:29] mrkpatchaa commented on #63
@umutseven92 I am also switching to VSCode and I found the extension you mentionned.
The only "problem" is that it misses the option to create string values directly from code.
<img width="418" alt="Screen Shot 2019-09-27 at 3 27 54 PM" src="https://user-images.githubusercontent.com/1266755/65777259-99226900-e13b-11e9-8e99-6fa11a7ea245.png">
Also, you need to run the update command every time you

[2019-09-27 19:11] KlausJokisuo commented on #96
This would be a nice feature.

Edit: There is already a generator. https://github.com/long1eu/flutter_i18n/tree/master/flutter_l10n

[2019-09-27 21:23] #96 closed, assigned to long1eu

[2019-09-28 04:04] CalvinKern commented on #96
Nice find! I'll need to try that out. Thanks!

[2019-09-30 00:04] mrkpatchaa commented on #65
I think it is in the scope of this plugin because the i18n file is generated by the plugin.
I've created a pull request to address this issue.
Check #97 .

[2019-09-30 07:59] noordawod commented on #91
This will be fixed once #98 is merged.

[2019-09-30 07:59] noordawod commented on #71
Latest plugins are now on JetBrains.

[2019-09-30 07:59] #71 closed, assigned to long1eu

[2019-09-30 08:00] noordawod commented on #70
This will be fixed once #98 is merged.

[2019-09-30 08:00] noordawod commented on #68
This will be fixed once #98 is merged.

[2019-09-30 08:00] noordawod commented on #67
This will be fixed once #98 is merged.

[2019-09-30 08:00] noordawod commented on #66
This will be fixed once #98 is merged.

[2019-09-30 08:00] noordawod commented on #53
This will be fixed once #98 is merged.

[2019-09-30 08:02] noordawod commented on #56
This should be fixed now.
Please re-open if the problem persists after the latest plugin release.

[2019-09-30 08:02] #56 closed, assigned to noordawod

[2019-09-30 08:02] noordawod commented on #53
Also, latest plugins are now on JetBrains.

[2019-09-30 08:02] #53 closed, assigned to noordawod

[2019-09-30 08:02] noordawod commented on #51
This will be fixed once #98 is merged.

[2019-09-30 08:04] noordawod commented on #48
With #98 there's initial support for configuring the plugin through pubspec. So keeping this here for a later implementation.

[2019-09-30 11:07] noordawod commented on #91
This is now resolved in v1.1.0. Please upgrade through the Plugins page in your IDE.

[2019-09-30 11:07] #91 closed, assigned to noordawod

[2019-09-30 11:07] noordawod commented on #70
This is now resolved in v1.1.0. Please upgrade through the Plugins page in your IDE.

[2019-09-30 11:07] #70 closed, assigned to nobody

[2019-09-30 11:08] noordawod commented on #68
This is now resolved in v1.1.0. Please upgrade through the Plugins page in your IDE and read the new README.

[2019-09-30 11:08] #68 closed, assigned to nobody

[2019-09-30 11:09] noordawod commented on #67
This is now resolved in v1.1.0. Please upgrade through the Plugins page in your IDE and read the new README.

[2019-09-30 11:09] #67 closed, assigned to nobody

[2019-09-30 11:09] noordawod commented on #66
This is now resolved in v1.1.0. Please upgrade through the Plugins page in your IDE.

[2019-09-30 11:09] #66 closed, assigned to nobody

[2019-09-30 11:09] noordawod commented on #59
This is now resolved in v1.1.0. Please upgrade through the Plugins page in your IDE.

[2019-09-30 11:09] #59 closed, assigned to nobody

[2019-09-30 11:09] noordawod commented on #51
This is now resolved in v1.1.0. Please upgrade through the Plugins page in your IDE.

[2019-09-30 11:09] #51 closed, assigned to nobody

[2019-09-30 11:10] noordawod commented on #47
This is now resolved in v1.1.0. Please upgrade through the Plugins page in your IDE.

[2019-09-30 11:10] #47 closed, assigned to noordawod

[2019-09-30 11:11] noordawod commented on #26
Please upgrade through the Plugins page in your IDE.

[2019-09-30 11:11] #26 closed, assigned to noordawod

[2019-09-30 11:11] #88 closed, assigned to long1eu

[2019-09-30 11:12] noordawod commented on #79
Thanks @d-silveira.
Could you submit a pr for this?

[2019-09-30 11:12] noordawod commented on #78
Thanks @d-silveira.
Could you submit a pr for this?

[2019-09-30 11:13] noordawod commented on #74
Leaving here for a possible future implementation.

[2019-09-30 11:14] noordawod commented on #44
This is a known issue, @vishna.
Would you be able to submit a pr to fix this?

[2019-09-30 19:06] hacker-cb opened #102 "Exception: Write access is allowed from event dispatch thread only"
There is Exception in 1.1.1.192:

[code]

[2019-09-30 19:17] hacker-cb commented on #102
I'm using IDEA with multi module layout and seems that plugin tries to create `res/values` folder in the root project and after fails with Exception.

My root project does not has `pubspec.yaml` file.

Folder structure:
[code]

Each folder added to IDEA as separate module.

[2019-10-01 10:30] vishna commented on #44
Unfortunately this is out of my scope - I switched to using VS Code for flutter dev and wrote my own solution: [Android String To Flutter](https://github.com/vishna/as2f) (...which btw [doesn't handle](https://github.com/vishna/as2f/issues/3) this case yet, just using properly named keys 😅 )

...but but I handle this case somewhere else:
https://github.com/vishna/voyager-codegen/blob/master/voyage

[2019-10-01 12:02] noordawod commented on #44
Duplicate of #63

[2019-10-01 12:02] #44 closed, assigned to noordawod

[2019-10-01 12:52] KorbinianMossandl opened #103 "v1.1.1-191 broke autogeneration of i18n.dart"
i just upgraded to the latest version and now the i18n file won't update if i make changes to my strings_en.arb

[2019-10-01 13:02] noordawod commented on #103
There has been a new feature with the release of v1.1.0, could you please read the README and tell me if this fits your usecase?

https://github.com/long1eu/flutter_i18n#3-turning-off-the-plugin-per-project

[2019-10-01 13:04] noordawod commented on #38
Reopen if still a problem.

[2019-10-01 13:04] #38 closed, assigned to noordawod

[2019-10-01 13:05] noordawod commented on #39
Duplicate of #73

[2019-10-01 13:05] #39 closed, assigned to noordawod

[2019-10-01 13:12] KorbinianMossandl commented on #103
sadly not. i am using the plugin on a flutter project.
Even setting it to enabled did not do the trick. for now only downgrading resolves the issue.

[2019-10-01 13:15] noordawod commented on #103
This is very strange.

The plugin detects the existance of Flutter in pubspec.yaml, so could you possibly attach it here (you can leave sensitive info out)?

[2019-10-01 13:16] noordawod commented on #103
Also, what's the highest version number that works for you?

[2019-10-01 13:21] KorbinianMossandl commented on #103
i just went back to v1.0.6-191 since this was the version i used before the upgrade.

[code]

[2019-10-01 15:32] vysotsky commented on #103
I'm facing the same issue

[2019-10-01 16:10] noordawod commented on #103
Hmm, that's strange. I'll look into it right away. Thanks!

[2019-10-01 16:10] noordawod commented on #103
Which IDE are you guys using? Name and version. Screenshot of About is great.

[2019-10-01 16:40] KorbinianMossandl commented on #103
latest android studio:
Android Studio 3.5
Build #AI-191.8026.42.35.5791312, built on August 9, 2019
JRE: 1.8.0_202-release-1483-b49-5587405 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.15.0-65-generic

[2019-10-01 18:46] bojidartonchev commented on #103
Same issue after upgrading to latest version today.

Android Studio 3.5
Build #AI-191.8026.42.35.5791312, built on August 9, 2019
JRE: 1.8.0_202-release-1483-b03 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

[2019-10-01 21:12] noordawod commented on #103
Pushed a fix now #104, awaiting review by the other maintainer.

[2019-10-02 00:18] dpedrinha commented on #37
There's a misc.xml in my appfolder/.idea/ but it's a lot different from the one here.

[code]

Also, closing the project and deleting the .idea folder should also fix this problem, right?

Anyway, new projects doesn't work anymore either. Create new flutter project, try extracting any string = Crash.

Problem is that I decided to update the plugin today.

This problem is back with the recent updat

[2019-10-02 01:19] dpedrinha commented on #103
Having the same problem here. Same IDE of the others. Just updated both today and the i18n.dart file stopped being generated.
I even tried creating a new project and extracting a string, it immediately crashed and prompted me to fill a bug report. Also there are no .arb files in the res/values folder.
So it's pretty easy to test the problem.
Thank you for the quick response @noordawod. Any timelin

[2019-10-02 06:39] noordawod commented on #103
It should be available during the today, thanks guys for the understsanding and sorry for messing it up when initially it was meant to solve many issues :)

Surprisingly, on the IntelliJ IDEA platform, the bug you described above does not happen.

[2019-10-02 06:40] noordawod commented on #37
This will be fixed after #103 is merged later today.

[2019-10-02 07:39] noordawod commented on #103
Plugin v1.1.2 has been published to JetBrains, awaiting approval. It should be available during the day. Please report back your findings when you install it, thanks!

[2019-10-02 07:39] noordawod commented on #37
Plugin v1.1.2 has been published to JetBrains, awaiting approval. It should be available during the day.

[2019-10-02 07:40] noordawod commented on #102
Plugin v1.1.2 has been published to JetBrains, awaiting approval. Could you install and check it and report back if the error still persists?

[2019-10-02 08:17] hacker-cb commented on #102
Thank you. I will check as soon as it will be approved by Jetbrains.

What about plugin behavior with such directory structure, where root directory does not contains any flutter or dart project but plugin still tries to create `res/values` folder in it?

[2019-10-02 08:33] noordawod commented on #102
This is yet unsupported, but I think I will add an option to select both the name of the `generated` folder and also where to find Arb files. Then you can easily point the plugin to the right directories.

[2019-10-02 08:47] hacker-cb commented on #102
I think that It will be better if plugin will detect generated folder name relative to the `pubspec.yaml`.

[2019-10-02 10:43] noordawod commented on #102
Yeah, by default it will follow where the pubspec file is located -- but it may be specified by the user as well (when this is implemented).

[2019-10-02 10:48] hacker-cb commented on #102
Is it current behavior or future behavior?
In my project structure [there is NO](https://github.com/long1eu/flutter_i18n/issues/102#issuecomment-536711006) `pubspec.yaml` file in the root folder, but plugin still creates `res/values` folder in the root.

[2019-10-02 10:55] noordawod commented on #102
Yeah, I understand that.

However, for the plugin to configure itself, it will try to load the `pubspec.yaml` file from the project's root folder, even if it just contains the following:

[code]

Do you have a better idea on how the plugin can be configured otherwise? (without showing a dialog or a settings box.)

[2019-10-02 11:04] hacker-cb commented on #102
In pseudo-code logic should be like this:
[code]
Don't forget that IDEA can have multi-module project.

[2019-10-02 12:20] noordawod commented on #102
Multi-module is not yet supported, unsure what's the best approach right now.
About the pseudo-code: that's how it works now ;)

[2019-10-02 12:45] hacker-cb commented on #102
So, what about multi-module project support? Actually, in my case I moved flutter app to the `app` dir of the root project and plugin does not work :(

[2019-10-02 14:51] noordawod commented on #102
As expected. Plugin searches for pubspec.yaml in the root folder only.

[2019-10-02 17:05] hacker-cb commented on #102
Do you have any plans to add subfolder/submodule support?

[2019-10-02 17:42] noordawod commented on #102
Multi-module is not yet supported, unsure what's the best approach right now.
If you have an idea on how this can be accomplished, please share.

[2019-10-02 17:43] dpedrinha commented on #103
Thank you @noordawod for the promptly response and fix.

[2019-10-03 10:13] noordawod commented on #103
v1.1.2 has landed, please upgrade and check back if it fixes this issue. Thanks!

[2019-10-03 11:38] remcoanker opened #106 "(v1.1.2) strings_en.arb is generated for non dart/flutter projects"
After updating the plugin to V1.1.2, the plugin creates strings_en.arb for all Android Studio projects, even a new blank android project without dart or flutter. The file gets instantly regenerated after deleting.

[2019-10-03 13:27] noordawod commented on #106
Thanks for the heads up! I'll check this asap and submit a new version.

[2019-10-03 14:33] dpedrinha commented on #103
Confirmed. i18n.dart is now being generated again.
Thanks.
@noordawod  can you please clarify [this question on SO](https://stackoverflow.com/questions/58193203/what-should-i-use-for-i18n-in-flutter-s-ofcontext-or-s-current?noredirect=1#comment102795820_58193203), please?

[2019-10-03 16:23] noordawod commented on #103
Great, thanks for checking.
I need to see an example before deducing what the problem may be, could you open a different issue and provide an example?

[2019-10-03 16:23] #103 closed, assigned to noordawod

[2019-10-03 17:12] dpedrinha commented on #103
Let me check if the problem persists after the update (later) and I'll will work on that if necessary.
But just to clarify, should we use `of(context)` or `current`? Are they the same? What's the difference?

[2019-10-03 18:00] noordawod commented on #103
I would use `of(context)` always just because it's a good way to uncover bugs in your code, which I'm highly guessing is what happening in your case.

The `current` caches the strings (statically) and I don't recommend using it -- but we merged this pr anyway earlier because users asked for it.

[2019-10-03 19:01] noordawod commented on #106
This is now fixed in #107 and submitted to JetBrains plugins repo. Hopefully it'll appear by tomorrow and you can upgrade.

[2019-10-04 01:14] dpedrinha opened #109 "Not extracting Strings"
Hi.
Since latest updates the extract feature isn't updating the .arb files anymore.
How to reproduce: Create new Flutter project. Alt+Enter a String -> extract. It doesn't change the .arb files.

Android Studio 3.5.1
Build #AI-191.8026.42.35.5900203, built on September 25, 2019
JRE: 1.8.0_202-release-1483-b03 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

[2019-10-04 10:08] noordawod commented on #109
Thanks @dpedrinha for reporting this. However, I still don't understand how to reproduce or what is the problem?

What version of the plugin are you using? Make sure you're using 1.1.4 (latest) as it fixes a couple of issues with previous versions.

[2019-10-04 16:36] dpedrinha commented on #109
@noordawod Thank you for your response. I was using 1.1.2 which was released to fix my last complain about not generating the i18n.dart file (remember me now? :).
Just got the new 1.1.4 update and the problem persists.
The problem is that prior to the 1.1.1 update I could Alt + Enter on a string in my code, click "Extract the string resource" and it would be added to my .arb files automatically.
I

[2019-10-04 16:42] noordawod commented on #109
Thanks for the detailed description! :+1:

Any chance you could upload a couple of screenshots showing this behavior?

[2019-10-04 16:43] dpedrinha commented on #109
I'll see to it

[2019-10-04 16:58] dpedrinha commented on #109
[Brand new Flutter project main.dart open](https://1drv.ms/u/s!AnlvHDhqbdln-nn-Y_FDY9kr8ANL?e=JdInYU)

[ALT+ENTER on a String -> click on first option](https://1drv.ms/u/s!AnlvHDhqbdln-npZ31oLHEFBm9eH?e=Dlqmd8)

[Pop-up shows up. Select the .arb files and click OK](https://1drv.ms/u/s!AnlvHDhqbdln-nu6gWA0Hz109l8T?e=7AnSjd)

[.dart file is updated as if the String exists but it can't find it](https

[2019-10-04 17:33] noordawod commented on #109
Perfect, now I understand what's going on!
Are you sure this feature used to work in previous versions of the plugin? I believe you mentioned 1.0.6, is that correct? Can you please verify?

[2019-10-05 01:55] dpedrinha commented on #109
I don't know how to verify this. If you can walk me through I'd gladly do it.

But I remember I updated the plugin to 1.1.1 and the i18n.dart wasn't being generated. Then it got fixed with 1.1.2 and this feature didn't work anymore (I don't know if this feature was working when on 1.1.1). I truly don't remember which version I was using before.

But this is a feature of this plugin...

[2019-10-05 04:27] TheVinhLuong commented on #109
I am also facing this problem.

[2019-10-05 12:02] samuelg123 commented on #109
Yea, me too. ```Alt+enter -> extract the string resource``` shortcut not working after the update. For now, I do insert manually by putting new string into .arb files. Hope this fix will land very soon.
Anyway, thanks for this plugin 👍

[2019-10-07 07:34] ayushin opened #110 "feature: configurable defaultLocale"

[2019-10-07 08:20] noordawod commented on #110
@ayushin

Thanks for the issue. Can you describe it more and a use case? Thanks.

[2019-10-07 08:26] ayushin commented on #110
Sorry, my mistake, disregard :)

[2019-10-07 08:26] #110 closed, assigned to noordawod

[2019-10-08 02:23] titanseason commented on #74
What if `strings.module1_*.arb` `strings.module2_*.arb` ...
All the `.arb` files are start with `strings`, but spilit with dot

[2019-10-09 07:33] Geekoom commented on #43
The same error
----------------
flutter v40.1.2
flutter i18n v1.1.4-191
----------------
Android Studio 3.5.1
Build #AI-191.8026.42.35.5900203, built on September 25, 2019
JRE: 1.8.0_202-release-1483-b49-5587405 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.6
----------------
java.lang.ClassCastException: com.intellij.psi.impl.source.PsiPlainTextFileImpl cannot be cast to com

[2019-10-09 07:48] Geekoom commented on #43
java.lang.ClassCastException: com.intellij.psi.impl.source.PsiPlainTextFileImpl cannot be cast to com.intellij.json.psi.JsonFile
	at eu.long1.flutter.i18n.workers.I18nFileGenerator.generate(I18nFileGenerator.kt:49)
	at eu.long1.flutter.i18n.workers.Initializer$runActivity$$inlined$scheduleAtFixedRate$1$lambda$1$1.compute(actions.kt:74)
	at com.intellij.openapi.application.impl.ApplicationImpl.lamb

[2019-10-09 08:03] noordawod commented on #43
Can you paste the contents of your arb file please?

[2019-10-09 10:09] jintangWang opened #111 "How to handle nest data?"
I knew `.arb` don't support nest data, like this：
[code]
Do you have any smart suggestions? Because it tortures me if I change data to below:
[code]

[2019-10-09 11:23] augustdong commented on #106
Still exists on version v.1.1.4-191, when open android projects on Android Studio, this plugin creates strings_en.arb on /android/res/values/ @noordawod

[2019-10-09 12:55] noordawod commented on #111
Well, from my experience with software design and architecture, keep it simple :) if you impose a certain structure on your data model (in this case it's linguistic data), then your tools, code, and any 3rd party software you may want to use will need to be able to read this structure. I'm not sure this is the right way to go.

For example, I don't know if any of the online translation tools suppo

[2019-10-09 13:53] noordawod commented on #106
Something in your environment is different than mine then because it doesn't happen here. I tested with many Android projects... There's a strict check in the Kotlin code for a Flutter-only project.

Can you check if a Flutter or Dart module is listed inside `.idea/modules.xml` file?

[2019-10-10 02:41] jintangWang commented on #111
Thanks. It's a clever option. I found a [jsfiddle](http://fiddle.jshell.net/blowsie/S2hsS/show/light/) almost match my require. So I forked and modified a little to use in `.arb`. Here is it. http://jsfiddle.net/jintang/bmgvw48n/7/  Thanks again.

[2019-10-10 02:41] #111 closed, assigned to noordawod

[2019-10-10 07:24] PerLycke commented on #56
@noordawod Got this just now on version 1.1.4-191. Log:

`java.lang.AssertionError: Already disposed: Project (Disposed) car_info_app
	at com.intellij.openapi.components.impl.ComponentManagerImpl.lambda$throwAlreadyDisposed$1(ComponentManagerImpl.java:245)
	at com.intellij.openapi.application.ReadAction.lambda$run$1(ReadAction.java:53)
	at com.intellij.openapi.application.impl.ApplicationImpl.runR

[2019-10-10 07:29] noordawod commented on #56
Thanks @PerLycke. Can you please describe the steps to reproduce this?

[2019-10-10 07:38] PerLycke commented on #56
1. Open project
2. Switch theme (I switched from dracula to light theme)
3. Close project (so that you end up on the Android Studio start screen)

I did exactly this and the error occured, hope it helps. I have no idea if the theme switching is relevant at all though :)

[2019-10-10 08:00] noordawod commented on #56
Thanks! I'll check if I can reproduce this locally.

[2019-10-10 08:17] GrahamDi commented on #109
I'm having the same problem.

A few weeks ago, I created all my .arb files (17), got them translated and the i18n.dart file successfully generated. All good.

Then yesterday I decided to include some new strings that I had to add to my app. Pressing alt-enter on the string and selecting 'Extract the string resource' brings up the arb file dialogue as expected. I select all my arb files (or just th

[2019-10-10 11:30] PerLycke commented on #109
Just realised I have the exact same issue.

Plugin version: 1.1.4-191
Environment: MacOS Catalina, Android Studio 3.5.1 (Stable channel)

When extracting strings they won't automatically be added to the .arb files. I have to do that manually.

[2019-10-14 11:05] nikitattt commented on #109
I have the same issue too. Everything is exactly as @dpedrinha described.

[2019-10-15 08:32] rostopira opened #112 "i18n.dart constantly regenerated"
I think this started happening when I created another flutter project inside current project directory

P.S.: GIF is looped, but it actually happens every second

![scr](https://user-images.githubusercontent.com/16724952/66814549-710a7680-ef3f-11e9-83ef-222018c3507f.gif)

[2019-10-15 09:55] noordawod commented on #112
The plugin doesn't support multi module projects, right @long1eu?

[2019-10-15 09:57] long1eu commented on #112
True. Only the cli generator knows about multiple projects.

[2019-10-15 09:57] rostopira commented on #112
I'm not asking to support multi-module, I ask only for this bug :D
I would actually prefer manual mode, like press button to regenerate, cause I don't modify my arb files every minute, and need it actually in single project out of tens

[2019-10-15 09:58] long1eu commented on #112
@rostopira makes sense. Can you try to use the generator?https://github.com/long1eu/flutter_i18n/tree/master/flutter_l10n

[2019-10-16 10:06] fl0cke opened #113 "Generated list of supported locales is incorrect"
I have manually specified the order of locales in my app as

[code]

together with two translation files for `en` and `nb`. However, everytime i start the app i get the message that the  application's locale (en) not support by the localization delegate. So after investigating i noticed that the plugin generates the following list of supported locales:

[code]

Which, according to the official doc

[2019-10-16 13:24] noordawod commented on #113
Could be a bug indeed, but if a change is introduce now which fixes your problem, it will most probably break all other uses. Any chance you can just add an empty countryCode for each of the locales and check if this fixes the problem?

This can be fixed to follow the rules when we increase the major version number, but not before I think.

[2019-10-16 14:26] fl0cke commented on #113
Haven't checked that. But one can use the provided `resolutionCallback` and set `withCountry` to `false`, which also fixed the problem. However, since the current implementation is clearly in violation of the `Locale` spec, it should be fixed at some point in the future 👍

[2019-10-17 09:46] r0ck3r commented on #109
Same for me

UPDATE: Last working version is 1.0.6

[2019-10-18 08:16] liugangnhm commented on #112
same issue

[2019-10-18 09:23] samuelg123 commented on #63
Actually, **"in"** is deprecated for Indonesian Locale. Locale **"id"** is more recent for Indonesian.

I found this on **window.dart**
[code]

[2019-10-22 02:00] ulike opened #114 "Why the word 'refreshTwoLevel' can't be generated into the i18n.dart file?"
why the word 'refreshTwoLevel' can't generated into the i18n.dart file?

[2019-10-22 07:56] noordawod commented on #114
No idea... Can you share a snippet of the arb file?

[2019-10-22 08:23] ulike commented on #114
the  arb file like this : "refreshTwoLevel": "release to enter second floor",
I have read the source code,Maybe these words zero|one|two|few|many|other of PLURAL lead to the problem。

[2019-10-22 08:36] noordawod commented on #114
Possibly... Can you try with the key "refresh2level" just to test?

[2019-10-22 08:38] ulike commented on #114
"refresh2level" works ok！

[2019-10-22 08:41] noordawod commented on #114
Then it must be what you surmised... It's a bug :)

[2019-10-22 08:42] noordawod commented on #114
Are you interested to fix it and submit a pr?

[2019-10-22 09:01] ulike commented on #114
Sorry ,I'm not good at plugin develop ! And I'm use the Android studio 3.1.1,The 'flutter_i18n' plugin default version is '0.0.6+1',Maybe the new version fixed it？Have you test the problem ?

[2019-10-22 10:04] ulike commented on #114
I have upgraded Android studio and the flutter_i18n plugin ,There is no problem now :)

[2019-10-22 10:07] noordawod commented on #114
Good :)

[2019-10-22 17:56] sydneyagcaoili commented on #109
Same here, any update on this?

[2019-10-22 18:09] noordawod commented on #109
Been busy lately so not had time to look into this, sorry guys...

[2019-10-22 18:33] GrahamDi commented on #109
No worries, it is worth waiting for. Also, really looking forward to it working in VSCode...my much preferred IDE (people call it an editor but it is way more). 👍

[2019-10-23 06:08] sumeet-toptal commented on #109
Hi @noordawod , I am having the same issue (no strings added to .arb file even though the string is replaced with key in the .dart file)

I have tried with

- plugin version  *Flutter_i18n-1.1.4-192* on  *IntelliJ Ultimate IntelliJ IDEA 2019.2.3 (Ultimate Edition) Build #IU-192.6817.14*

- plugin version  *Flutter_i18n-1.1.4-191* on  *Android Studio 3.5.1 Build #AI-191.8026.42.35.5900203
*

Both h

[2019-10-24 13:10] pparadox11 commented on #106
Hi, i am facing the same issue, any suggestion?

[2019-10-29 08:37] acheronian commented on #91
Sadly, the issue has not been resolved yet:

`kotlin.KotlinNullPointerException
	at eu.long1.flutter.i18n.workers.I18nFileGenerator.generate(I18nFileGenerator.kt:57)
	at eu.long1.flutter.i18n.workers.Initializer$runActivity$$inlined$scheduleAtFixedRate$1$lambda$1$1.compute(actions.kt:74)
	at com.intellij.openapi.application.impl.ApplicationImpl.lambda$runWriteAction$16(ApplicationImpl.java:1004)

[2019-10-29 12:19] noordawod commented on #91
Thanks for the report, appreciate it.
I'm assuming this error is just informative and the plugin succeeds in generating the i18n file, is this correct?

[2019-10-29 13:30] acheronian commented on #91
No, i18n.dart file hasn't changed since the plugin stopped working. Adding fields to the language arb-files does not re-generate i18n.dart file.

[2019-10-30 10:55] speller opened #115 "Absense of getting started doc"
Hi,
I'm completely new to the Flutter. I'm reading the Readme doc "Usage":

1. I'm pasting the first code sample: `S.delegate` - S is undefined, `GlobalMaterialLocalizations` - undefined, `GlobalWidgetsLocalizations` - undefined. How to import them?
2. Setup the arb files - how? There's no instructions in the ARB repository: https://github.com/google/app-resource-bundle. How to install something w

[2019-11-01 13:12] noordawod commented on #115
Hmm, what IDE are you using?

[2019-11-01 13:13] noordawod commented on #91
Hmm, I'm stumped. I am still unable to reproduce this behaviour on my IDE...

[2019-11-02 03:04] speller commented on #115
Hi, I'm using Android Studio.

[2019-11-02 13:05] ipokidko commented on #109
I have the same issue too.

[2019-11-02 16:59] noordawod commented on #115
Did you install the plugin in Settings > Plugins?

[2019-11-03 01:48] 2cData opened #116 "Not sure how to widget test"
I had originally used the basic Flutter internationalization strategy and even managed to widget test it using @remonh87 workaround (https://medium.com/flutterpub/testing-localized-widget-in-flutter-3bfa5492bc84)

But, like most people, this was just too much boilerplate and this plugin makes life much better. However, now my widget tests don't work and I am not sure how to implement a solution li

[2019-11-04 09:24] remonh87 commented on #116
@2cData  I think you can still use this plugin and have proper widget tests. If you do not care about testing the localized strings you can simply inject a stubtestdelegate in your widget test and test the screen. If you do care about strings according to the flutter team you can solve it by ` tester.runAsync` according to issue https://github.com/flutter/flutter/issues/22193 .  Never test this my

[2019-11-04 14:23] dungnv2602 opened #117 "What the use of 'current' static variable?"
I just found out using S.current in my viewmodels works normally (I was worried it will not work, and passing BuildContext down to viewmodels is silly). The thing is I still don't know how and why it worked? Does using static variable 'current' have any side effects or possible errors? And that's mean we don't need to use S.(context) everytime?

[2019-11-06 09:35] paul1992li opened #118 "optimize generated code"
Will this plugin provide user settings？ at least let user specify the generated class name. 'S' read  unelegant.

[2019-11-07 05:32] EArminjon commented on #109
Problem still here :'(

EDIT : FIX

My ide was with multiple project, so i open only once and the plugin works well.

[2019-11-07 07:48] EArminjon opened #120 "localeResolutionCallback override MaterialApp Locale"
Hello,

I'm facing an issue with the code below :
[code]

localeResolutionCallback is, as I understand, a callback when no local is found.
The problem is the following : localeResolutionCallback is always call and override locale: ui.window.locale...

Can you help me ?

[2019-11-07 07:50] paul1992li commented on #109
DialogWrapper has a bug , submit a PR to fix

[2019-11-07 10:28] acheronian commented on #91
Found the issue:
Apparently, flutter_i18n at some point stopped parsing country codes for .arb files (e.g. "strings_en_US.arb"). Removed the country codes and the plugin started working as usual.

However, I cannot recall if this was supported at all so, my bad ^^

[2019-11-07 11:01] EArminjon opened #121 "Reload manually generated/i18n.dart"
Hello,

The plugin automatically reload i18n.dart on android.studio and inteljidea.
In the case where some developers do not use both of them, how generate/reload manually this file ? If it required java, could you provide a little script to do it ?

[2019-11-08 03:07] EArminjon commented on #121
Find solution :
https://github.com/long1eu/flutter_i18n/tree/master/flutter_l10n

Add this in pubspec.yaml

[code]

Commande to run generator :
[code]

But their is an other problem (About string containing "\n"), will create an other issue.

[2019-11-08 03:07] #121 closed, assigned to nobody

[2019-11-08 03:14] EArminjon opened #122 "String parsing crash with manual generator flutter_i18n/flutter_l10n/"
Hello,

I add flutter_l10n to my pubspec.yaml to allow my team with others IDE as AndroidStudio or Intelij to generate translation.

So I add this :

[code]

My team can run the package with the following commande :
[code]

But their is a problem which wasn't present when we use flutter_i18n plugin directly on the IDE :

In my arb file I have string like :
"appMessage": "The message... Blabla ...\

[2019-11-08 15:23] #117 closed, assigned to nobody

[2019-11-15 08:21] GrahamDi commented on #109
Hi Noor,
Is there a date when the PR will be approved and merged?

[2019-11-15 10:38] kirimi commented on #109
Same for me

[2019-11-18 06:15] Deishelon commented on #109
Any updates?

[2019-11-19 14:58] ViniciusSossela commented on #116
https://github.com/flutter/flutter/issues/22193#issuecomment-507793123
@chunhtai actually it doesn't work.

In our case, we are using .json files to do translations. So we have like these:
- assets/lang/en.json
- assets/lang/pt.json
- assets/lang/es.json

.....

The way we load and use these json files are through LocalizationsDelegate extension like this:

[code]

[code]

and then in our widget t

[2019-11-20 20:42] xBioDreadx commented on #109
Compiled plugin with @paul1992li PR fix:
https://github.com/xBioDreadx/flutter_i18n/releases
Cant wait for owner release so made it myself...

192 - for idea 2019.2
191 - idea 2019.1 or Android Studio 3.5.2
       and so on...
Install manually in idea:
![image](https://user-images.githubusercontent.com/8358357/69277990-0b6a7380-0bea-11ea-961c-0431756e5fbe.png)

[2019-11-21 03:59] samuelg123 commented on #109
@paul1992li @xBioDreadx Thank you very much !! It works perfectly. I really appreciate it..

[2019-11-21 05:34] sumeet-toptal commented on #109
@xBioDreadx Thanks a lot. works well on IntelliJ 2019.2

[2019-11-21 07:09] GrahamDi commented on #109
@xBioDreadx Works perfectly on Android Studio 3.5.2. Thanks very much for stepping up here...needed to be fixed.

[2019-11-21 10:40] kirimi commented on #109
@xBioDreadx Thank you very much!

[2019-11-21 12:33] r0ck3r commented on #109
@xBioDreadx, thank you!

[2019-11-21 12:44] GrahamDi commented on #109
@paul1992li Sorry, forgot to thank you also for the original fix.

[2019-11-22 23:58] 2cData commented on #116
Yes, @ViniciusSossela <https://github.com/ViniciusSossela>, I saw your
comments and your code. You actually saved me some time because my
translations file was going to get too big to work at some point, so thanks
for that. The testDelegate also did not work for me; it still threw an NPE
on the getter for the translated strings.

I'm actually working on not using the plugin, going back to manually

[2019-11-25 08:49] liugangnhm commented on #112
I disabled the `Save Actions` plugin, the issue was gone. 💯

[2019-11-25 09:32] rookie-12 commented on #112
where is `Save Actions` plugin option?

[2019-11-26 01:38] liugangnhm commented on #112
![image](https://user-images.githubusercontent.com/743845/69592305-825f9c00-1030-11ea-9691-b429dca531ff.png)

@rookie-12

[2019-11-28 23:51] rickcasson opened #124 "Google Translator Toolkit shutting down"
First of all, thank you for creating an awesome plugin to simplify localization within Flutter! It has been really useful to us so far!

[With Google shutting down its Translator Toolkit after December 4th, 2019](https://support.google.com/translatortoolkit/answer/9462068), I'm wondering what your plan is for this plugin? Will you start directing people to use an alternative (paid) translation too

[2019-11-30 21:07] iostriz opened #125 "Not compatible with IntelliJ 2019.3 (Community Edition)"
Hi, having trouble installing this plugin with fresh installation of IntelliJ.
Steps to reproduce:
1. Fresh install of IntelliJ Comuniti Edition (2019.3)2. Fresh install Flutter, Dart plugin
2. Trying to install from plugin repo, then trying to install from source (xBioDreadx, https://github.com/xBioDreadx/flutter_i18n/releases/download/fix/i18n-1.1.4-192.jar)
<img width="1050" alt="Screenshot 201

[2019-12-01 03:07] donghua-wang commented on #109
@xBioDreadx  Thank you very much.  Works on Android Studio 3.5.2

[2019-12-03 07:05] avimak commented on #125
also IntelliJ Ultimate Edition (2019.3)

[2019-12-03 19:04] Bernix01 commented on #109
@xBioDreadx Thank you very much. Works on Android Studio 3.5.2

[2019-12-04 12:07] SamTang2014 opened #126 "change locale issue"
how can i change locale with generated i18n.dart?
it seem the i18n file cannot let me change the locale

[2019-12-06 11:45] VadimOsovsky opened #127 "plugin stopped working after November 28 InteliJ update"
IntelliJ IDEA 2019.3 (Ultimate Edition)
Build #IU-193.5233.102, built on November 28, 2019
Licensed to ***
Subscription is active until ***
Runtime version: 11.0.4+10-b520.11 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.15
GC: ParNew, ConcurrentMarkSweep
Memory: 990M
Cores: 4
Registry:
Non-Bundled Plugins: Dart, io.flutter, FlutterI18n, andrasferenczi.dart-data-plugin, com.bloc.

[2019-12-06 11:56] VadimOsovsky commented on #127
see #125

[2019-12-06 11:56] #127 closed, assigned to nobody

[2019-12-06 21:41] marcruse commented on #124
You can use [Localizely](http://localizely.com/).
They support ARB files, pretty easy to use.

[2019-12-12 20:34] Yarikk26 commented on #112
Hi there. Same on AndroidStudio 3.5.3. Marked generated file as read-only. Maybe
[stacktrace](https://github.com/long1eu/flutter_i18n/files/3957742/stacktrace.txt) will be helpful.

[2019-12-14 14:11] beilly commented on #106
@noordawod ,when open Flutter project's android module, it creates strings_en.arb on /android/res/values/。I think it's not issues, but I can't build my Flutter project in Android platform. And can i close auto generate by another menu?

[2019-12-15 22:58] PandaGeek1024 opened #128 "Run plugin from terminal?"
Hi, this is indeed a great plugin. But is there a way to run this from the terminal?

We have this requirement to generate different localization for different product flavors during runtime in the CI. Basically we will provide different arb files and expect the corresponding i18n.dart to be generated. But opening android studio during the build process doesn't seem feasible in this case. Is there

[2019-12-17 07:29] zhangruiyu commented on #125
When will 2019.3 be supported

[2019-12-17 12:44] VadimOsovsky opened #129 "plugin stopped recognizing arb files' contents"
tons of constants suddenly became useless...
very buggy plugin, some of the features like string extraction don't work at all.
the issues are hardly ever reviewed
terrible experience

[code]

[2019-12-19 08:04] DhavalRKansara opened #130 "Flutter i18n plugin not working with intellij 2019.3"
After upgrading my Intellij to the latest version 2019.3, [flutter i18n](https://plugins.jetbrains.com/plugin/10128-flutter-i18n/) plugin is not working properly. Even when I am trying to import [flutter i18n](https://plugins.jetbrains.com/plugin/10128-flutter-i18n/) from disk it gives me the below error:

<img width="400" alt="Screen Shot 2019-12-19 at 1 16 29 PM" src="https://user-images.githubu

[2019-12-19 10:10] iTEEECH opened #131 "[Question] Flutter i18n plural"
Hi

I've been using your plugin on my project for a few days now and I have one question on the plural use.

I created a Enumeration like this :

`
enum state {
 TESTA,
 TESTB,
}
`
And I would to translate dynamically this enum.

My code :

`
{
    "stateTestA": "No items selected",
    "statetestB": "to many items", //not actual real
}
`

Is it correct ? Or it's juste possible with 1, 2 ?

Thank

[2019-12-22 09:44] TheJosh commented on #125
Does not appear to work on Android Studio 3.5.3 either.

Android Studio 3.5.3
Build #AI-191.8026.42.35.6010548, built on November 15, 2019
JRE: 1.8.0_202-release-1483-b49-5587405 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.9.0-9-amd64

[2019-12-24 09:18] sxiaoming2007 opened #132 "Can methods with parameters be made optional?"
Different languages have different expression styles，like this：
English：
If the last price rises to or above $name1,an order to buy $name3 at a price of $name2 will be placed
Chinese:
若价格高于${name1}时,则依据${name2}下单,购买${name3}
The name1 name2 name3 in different order，generate method is
English：
(String name1, String name3, String name2)
Chinese：
(String name1, String name2, String name3)
Inconvenient

[2019-12-27 18:30] PerLycke commented on #125
@long1eu (or maybe @noordawod as I'm not sure who is maintaining it) should be releasing a maintenance update in two days as per long1eu's own schedule. I don't know though if this particular issue will be fixed by then though.

With that said, no maintenance update was released the previous month, so the project might be abandoned or paused. Maybe he might tell us soon

[2019-12-27 21:05] TheJosh commented on #125
If that ends up being the case then I'd be interested in some pointers on
plugin development to try and resolve this myself as I've got production
apps which rely on this i18n system.

On Sat, 28 Dec. 2019, 5:00 am Per Lycke, <notifications@github.com> wrote:

[2019-12-30 11:19] junghyun397 opened #133 "JsonFileTypeFactory was removed in IntelliJ 2019.3."
After the 2019.03 update, I got the following error:

[code]

In the IJ 2019.03 API Changelog, I could find a replacement for com.intellij.json.JsonFileTypeFactory with com.intellij.fileType.
https://github.com/JetBrains/intellij-sdk-docs/blob/master/reference_guide/api_changes/api_changes_list_2019.md

..and I found a class in this project that extend JsonFileTypeFactory.
https://github.com/long1

[2020-01-02 21:32] alizera commented on #122
I have the same,
I'm using Android Studio 3.5.3 on Windows and `i18n.dart` doesn't generate automatically (while my mac is OK). I've run AS by addministration privillage but have problem.
And finally use manual generator and face the issue @EArminjon had mentioned.

[2020-01-04 20:54] jangruenwaldt commented on #120
I had the same issue. A bit pointless to provide internationalization if always the same language is used, isn't it? Using the code below fixes it:

[code]
Anyways, I keep getting `The getter 'MY_ARB_KEY' was called on null. Receiver: null. Tried calling: MY_ARB_KEY`
frequently, turning the entire plugin is pointless.

[2020-01-04 21:16] jangruenwaldt commented on #120
Nevermind, translating still sporadically does not work. Also, sometimes the mentioned "called on null" error occurs. I can just suggest everyone to never use this plugin. It is still recommended in some blog posts, but we should make people aware of the issues by leaving 1-star reviews on IntelliJ to make the issues more obvious. It is quite a big waste of time to try using this plugin and will s

[2020-01-06 06:10] long1eu commented on #125
Hi! You are right this plugin is no longer actively developed. I've added the i10n package that can be user to generated the needed files from the CL just to make sure all can continue to use this format as @TheJosh said.

[2020-01-06 10:10] avimak commented on #125
pls see here - https://github.com/long1eu/flutter_i18n/pull/134 (and pls make sure you read my comment wrt previous versions)
you can clone my fork, execute the plugin-build task and [import it into your IDE](https://www.jetbrains.com/help/idea/managing-plugins.html#install_plugin_from_disk).

[2020-01-06 10:11] long1eu commented on #125
@avimak you are very welcome to take the dev of this plugin in your own hands. The license is Apache-2.0

[2020-01-06 10:12] avimak commented on #133
pls see here - https://github.com/long1eu/flutter_i18n/issues/125

[2020-01-06 10:12] avimak commented on #130
pls see here - https://github.com/long1eu/flutter_i18n/issues/125

[2020-03-06 10:35] DhavalRKansara commented on #130
Okay, #125 is the same as this one so I am closing this issue here.

[2020-03-06 10:35] #130 closed, assigned to nobody

[2020-04-07 22:32] rickcasson commented on #125
For anyone looking for an alternative option, [Localizely](https://localizely.com/) has developed a very similar plugin that is compatible with Android Studio, VS Code, and IntelliJ: https://plugins.jetbrains.com/plugin/13666-flutter-intl

[2020-04-07 22:36] #124 closed, assigned to nobody

[2020-04-08 04:56] long1eu commented on #125
I totally support @rjcasson response.

[2020-05-09 03:52] niltonvasques commented on #12
Doesnt make much sense this nesting :thinking:  Is this the recommended way?

[2020-05-23 12:14] xBioDreadx commented on #125
@long1eu  Nice! I will stick to that too!
P.S. Can you mention that pugin on your main page? - so people will find it faster.

[2020-06-22 03:50] BigTimo opened #135 "Incompatible with Android Studio 4.0"

[2020-07-03 10:16] FilipeOS commented on #135
Same issue
`Plugin Error: Plugin "Flutter i18n" is incompatible (target build range is 192.0 to 192.*).`

[2020-07-15 14:23] dpedrinha commented on #135
Hello @long1eu I hope you are doing alright.
Are there plans to update the plugin to be compatible with Android Studio 4?

[2020-07-15 14:25] long1eu commented on #135
Hi!

Unfortunately no. This plugin is deprecated because of lack of time/funds.

[2020-07-15 14:27] nicolasjon commented on #135
It is dead. I suggest you move to use this plugin
https://plugins.jetbrains.com/plugin/13666-flutter-intl/
Works well.

[2020-07-15 14:29] long1eu commented on #135
@nicolasjon that is a very good alternative, I recommend it to

[2020-07-17 21:19] noordawod commented on #135
Mine is also there if you want to try it out: https://pub.dev/packages/localison

[2021-02-16 22:20] ahmedGibran commented on #35
Isolate the user interface from the main application and it will work for you.
<img width="593" alt="‏لقطة الشاشة 2021-02-17 في 12 18 41 ص" src="https://user-images.githubusercontent.com/51888694/108128829-067ac500-70b6-11eb-8181-0c5464a29223.png">

[2021-12-13 05:40] #131 closed, assigned to nobody

[2022-01-28 06:40] zsanzharko opened #137 "Don't delegated S??"
My problem with delegating S, but I wrote in code, like example in Getting Started **Localizely**

Adding in code
[code]

intl_en.arb
[code]

Error exeption
[code]

pubspec
[code]

[2022-01-28 06:40] zsanzharko commented on #137
I did not find the problem on the Internet

[2022-01-28 10:00] #137 closed, assigned to nobody

[2022-04-02 01:05] #48 closed, assigned to noordawod